//*** Funciones para color HSLA ***

// - Crea un color en formato HSL para CSS en base a variables creadas de un color en formato Hex
@function vcolor($idColor) {
  @return hsl(var(--color_#{$idColor}_H), var(--color_#{$idColor}_S), var(--color_#{$idColor}_L));
}

// - Función para oscurecer un color con variables CSS en SCSS
@function hsl_d($idColor, $percentage) {
  $color_h: var(--color_#{$idColor}_H);
  $color_s: var(--color_#{$idColor}_S);
  $color_l: var(--color_#{$idColor}_L);
  @return hsl($color_h, $color_s, calc(#{$color_l} - #{$percentage}#{"%"}));
}

// - Función para iluminar un color con variables CSS en SCSS
@function hsl_l($numColor, $percentage) {
  $color_h: var(--color_#{$numColor}_H);
  $color_s: var(--color_#{$numColor}_S);
  $color_l: var(--color_#{$numColor}_L);
  @return hsl($color_h, $color_s, calc(#{$color_l} + #{$percentage}#{"%"}));
}

// - Función para dar transparencia a un color con variables CSS en SCSS
@function hsl_a($numColor, $alpha) {
  $color_h: var(--color_#{$numColor}_H);
  $color_s: var(--color_#{$numColor}_S);
  $color_l: var(--color_#{$numColor}_L);
  @return hsla($color_h, $color_s, $color_l, $alpha);
}


// Mixin para alinear un contenedor horizontal y verticalmente
@mixin center-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin container {
   
  padding:  2rem;
border-radius: brd(2);
box-shadow: bsh(3);
background-color:get-color(white_s1);

p{
  color:get-color(grey2_s4)
}

}





@mixin scrollTeme {

 
 /* Personalización de las barras de desplazamiento */
 &::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem; 
 


}

&::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  background-image: linear-gradient(to right, rgba(get-color(lilac_p3),0.3), rgba(get-color(blue_p1), 0.4));
    
  border-radius: brd(3);
  &:hover {
    
       background-image: linear-gradient(100deg, get-color(lilac_p3) 30%,get-color(blue_p1) 64%);

    
  }
}

}



@mixin cardStyleType($color) {

  box-shadow:   -1.83697e-16px 3px 10px rgba(get-color($color), 0.12);

  .card_type{
    background-color: rgba(get-color($color), 0.025);
    color: darken(get-color($color), 10%);
   
  }
  
  .card_actions{
    background: linear-gradient(to right, rgba(get-color($color), 0.6), rgba(get-color($color), 1));
    // background-color: rgba(get-color($color), 1);
  }

  .admin{
    
    svg{
 
  
      path{
        // fill: darken(get-color($color), 2%);
        fill: darken(get-color($color), 20%);
        
      }
    }
  }
 

  .type_icon{
    
  svg{
    height: 8rem;

    path{
      fill: darken(get-color($color), 30%);
      box-shadow:   -1.83697e-16px 3px 10px rgba(get-color(white_s1), 0.12);

      
    }
  }
  }

  
 
  

}