//*** Reset
// Importa la fuente Poppins de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Define las fuentes para que las puedas usar en tu aplicación
$font-poppins: 'DM Sans', sans-serif;

// Aplica las fuentes en tu estilos, por ejemplo, en el cuerpo del documento
body {
  font-family: $font-poppins;
  overflow-x: hidden;
}

*,
*::after,
*::before,
*:focus {
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-poppins;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  text-align: start;
  color: get-color(black_p2);
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  // line-height: 100%;
  display: flex;
  gap: 0.5em;

  svg {
    font-size: larger;
  }
}

h1 {
  font-size: clamp(1.275rem, 1.55vw + 0.8rem, 1.8rem); // 20.5px a 28.5px
}

h2 {
  font-size: clamp(1.125rem, 1.05vw + 0.8rem, 1.45rem); // 18.5px a 24.5px
}

h3 {
  font-size: clamp(0.9rem, 0.8vw + 0.45rem, 1.3rem); // 14.5px a 20.5px
}

h4 {
  font-size: clamp(0.775rem, 0.55vw + 0.3rem, 1.05rem); // 12.5px a 16.5px
}

h5 {
  font-size: clamp(0.75rem, 0.5vw + 0.4rem, 1rem); // 12px a 16px
}

p {
  font-size: clamp(0.875rem, 0.6vw + 0.45rem, 1.125rem); // 14px a 18px
  font-size: clamp(0.75rem, 0.5vw + 0.4rem, 1rem); // 12px a 16px

  font-style: normal;
  font-weight: 400;
  // font-size: clamp(0.875rem, 0.75vw + 0.5rem, 1.25rem); // 14px a 20px dependiendo del ancho de la ventana
  line-height: 100%;
}

// //tamaño de fuentes

// h1 {
//   font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem); // 24px a 36px dependiendo del ancho de la ventana
// }

// h2 {
//   font-size: clamp(1.25rem, 1.25vw + 1rem, 1.65rem); // 20px a 30px dependiendo del ancho de la ventana
// }

// h3 {
//   font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem); // 16px a 24px dependiendo del ancho de la ventana
// }

// h4 {
//   font-size: clamp(0.875rem, 0.75vw + 0.25rem, 1.25rem); // 14px a 20px dependiendo del ancho de la ventana
// }

// h5 {
//   font-size: 0.875rem; // 14px fijo
//   display: flex;
//   align-items: center;
// }

// p {
//   font-style: normal;
//   font-weight: 400;
//   font-size: clamp(0.875rem, 0.75vw + 0.5rem, 1.25rem); // 14px a 20px dependiendo del ancho de la ventana
//   line-height: 100%;
// }

a,
input,
select,
textarea,
label,
button,
svg,
svg * {
  transition: trs(1);
  font-family: $font-poppins;
  &::before,
  &::after {
    transition: trs(1);
  }
}

input,
select,
textarea,
button {
  font-size: 1rem;
  font-family: inherit;
  font-family: $font-poppins;
}

textarea {
  resize: none;
}

input[type='submit'],
button[type='submit'],
button {
  cursor: pointer;
  font-family: $font-poppins;
}

a {
  display: block;
  text-decoration: none;
  font-family: $font-poppins;
}

table {
  font-family: $font-poppins;
  font-size: small;
  font-size: clamp(0.875rem, 0.6vw + 0.45rem, 1.125rem); // 14px a 18px
  font-size: clamp(0.875rem, 0.5vw + 0.4rem, 1rem); // 14px a 16px
}

span {
  font-family: $font-poppins;
}

img {
  height: auto;
  width: auto;
  display: block;
}

ul {
  list-style: none;
  font-family: $font-poppins;
}

p {
  line-height: 1.5;
  font-family: $font-poppins;
}

.css-1yhyf2r-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  color: get-color(t1-blue);
  font-weight: 700;
  font-family: $font-poppins;

  .MuiSvgIcon-root {
    path {
      fill: get-color(blue_p1);
      stroke: aqua;
    }
  }

  svg {
    path {
      fill: get-color(blue_p1);
      stroke: aqua;
    }
  }
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  font-family: $font-poppins;
  color: get-color(t1-blue);
}
