.page404 {
    width: 100%;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1375039697/es/foto/receta-saludable-de-ensalada-de-frutas-y-verduras.webp?b=1&s=170667a&w=0&k=20&c=y-fuYHdvKvaJxEu8KaIvugwLET7QAGDrxKpzMVGpUiI=');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    
    @include mqi(l){
        background-size: 80%;
    }

    @include mqi(m){
        background-size: 100%;
    }

    @include mqi(s){
        background-size: 120%;
    }
}