.apiconfiguration {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .Tabsumenu-content {
    padding-top: 0rem;
  }

  .state {
    color: get-color(blue_p1);
  }

  .dates-box {
    padding-top: 1em;
    display: flex;
    flex-direction: column;

    @include media(desktop) {
      flex-direction: row;
    }
  }

  .date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .modal {
    z-index: 2;

    .box-inputs {
      @include center-container;
    }
  }

  .admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;

    &-product {
      display: flex;
      height: auto;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      .reporting-box .report-content {
        background-color: rgba(get-color(white_s1), 0);
        box-shadow: none;
        height: fit-content;

        gap: 1rem;
        align-items: flex-start;
        align-self: center;
        height: 100%;
        justify-content: space-between;

        @include media(desktop) {
          flex-wrap: nowrap;
        }

        .report {
          padding: 1rem;
          border-radius: brd(2);
          box-shadow: bsh(3);
          flex-grow: 1;
          height: 7rem;
          align-items: flex-start;
          width: min-content;

          @include media(tablet) {
            width: auto;
          }
        }
      }

      span {
        color: get-color(black_p2);
      }

      .state-message {
        color: get-color(lilac_p3);
      }

      .report-content {
        padding: 0rem;
        .report_icon {
          max-width: 3rem;
          height: 3rem;
          padding: 0.75rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
        }

        span {
          color: get-color(grey2_s4);
        }
      }
    }

    &-update {
      @include container;
      flex: 1.2;

      .content {
        color: get-color(t1-blue);
      }
    }

    &-captcha {
      @include container;

      .report-content {
        box-shadow: none;
      }
    }

    &-historical {
      .contaniner-tables {
        background-color: rgba(get-color(white_s1), 0.4);

        .dataTable,
        .tableContainer th:nth-child(1),
        .tableContainer td:nth-child(1) {
          background-color: rgba(get-color(white_s1), 0.4);
        }
      }
    }

    .css-dmmspl-MuiFormGroup-root {
      display: flex;
      flex-direction: row;
    }

    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
      z-index: 99999999999;
    }
  }
}

.integration {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .loadding-container {
    display: flex;

    justify-content: center;
    flex-direction: column;
    p {
      width: 100%;
      text-align: center;
      color: rgba(get-color(blue_p1), 0.9);
    }
  }
}
