//botones


.btn {
    cursor: pointer;
  
    &_primary {
      margin-top: 2rem;
      border-radius: brd(1);
      border-style: none;
      width: auto;
      background-color: get-color(blue_p1);
      color: get-color(white_s1);
      padding: 0.8rem 1.25rem;
      max-width: 500px;
      a {
        color: get-color(white_s1);
      }
  
      &:hover {
        background-color: get-color(t1-blue);
        transform: translateY(-2px);
        font-size: 1rem;
      }
    }
  
    &_secundary {
      border-style: none;
      border-radius: brd(1);
      background-color: transparent;
      color: get-color(black_p2);
      // margin: 0.5rem;
      padding: 0.5em 1.25em;
      width: auto;
      border: 1px solid #242331;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: get-color(t1-blue);
        color: get-color(white_s1);
        font-size: 1rem;
        transform: translateY(-2px);
      }
    }
    &_crud{
      border-style: none;
      background-color: transparent;
      padding: 0.25em;
      display: flex;
      justify-content: center;
      color:get-color(blue_p1);

    }
  
    &_icons {
      border-style: none;
      // background-color: get-color(white_s1);
      background-color: transparent;
      // border: 1px solid #242331;
      border-radius: brd(2);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 1rem;
      border:1px solid get-color(white_s1);
      gap: 0.5em;
      // box-shadow: bsh(1);
      color: get-color(grey2_s4);
      height: 2.5rem;
      width: 4rem;

      
 
  
      &:hover ,   &:active {
        border: 1px solid get-color(blue_p1);
        // color: get-color(white_s1);
        // transform: translateY(-2px);
        font-size: 1rem;
        color: get-color(blue_p1);
    
      }
    }
  
    &_black {
      display: flex;
      width: auto;
      border-style: none;
      padding: 0.5em 1.25em;
      justify-content: center;
      align-items: center;
    //  font-size: smaller;
      // max-width: 200px;
      border-radius: brd(2);
      background: get-color(black_p2);
      color: get-color(white_s1);
      @include media(tablet) {
        font-size:medium;
        padding: 0.8rem 1.25rem;
        gap: 1em;
       
      }
  

      &:focus,
      &:hover {
        background-color: get-color(white_s1);
        color: get-color(black_p2);
        border: 1px solid get-color(black_p2);
      }
    }
   
   
  }
  
  //modificador para botones pequeños
  .small {
    margin: 0.5rem;
    padding: 0.625rem 2rem;
    max-width: 300px;
    max-width: 200px;
  }
  
  .smallBack {
    margin: 0.5rem;
    padding: 0.625rem 2rem;
    max-width: 300px;
    border-style: none;
    // border-radius: brd(1);
    background-color: transparent;
    color: get-color(black_p2);
  
    border: 1px solid get-color(blue_p1);
    color: get-color(blue_p1);
  
    &:hover {
      background-color: get-color(t1-blue);
      color: get-color(white_s1);
      transform: translateY(-2px);
    }
  }
  
  .black {
 
    background-color: get-color(black_p2);
      color: get-color(white_s1);
    &:hover {
      background-color: get-color(t1-blue);
      color: get-color(white_s1);
      font-size: 1rem;
      transform: translateY(-2px);
    }
    
  }
  
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  