//botones

.btn {
  cursor: pointer;

  &_primary {
    // margin-top: 1rem;
    border-radius: brd(3);
    border-style: none;
    width: auto;
    background-color: get-color(blue_p1);
    color: get-color(white_s1);
    padding: 0.8rem 1.25rem;
    min-width: 7rem;
    max-width: 500px;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 8px get-color(pink_s5);

    svg {
      path,
      polyline {
        stroke: get-color(white_s1);
        color: get-color(white_s1);
      }
    }

    a {
      color: get-color(white_s1);
    }

    &:focus {
      outline: 0;
    }

    &:active {
      transform: scale(0.9);
      background-color: darken(get-color(t1-blue), 5%);
      box-shadow: 0 2px 25px get-color(lilac_p3);
    }
  }

  &_secundary {
    // margin-top: 1rem;
    border-style: none;
    border-radius: brd(3);
    background-color: get-color(white_s1);
    color: get-color(blue_p1);
    padding: 0.8rem 1.25rem;
    min-width: 7rem;
    border: 2px solid get-color(lilac_p3);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px get-color(bg-cles);

    svg {
      path,
      polyline {
        stroke: get-color(blue_p1);
        color: get-color(blue_p1);
      }
    }

    &:hover {
      background-color: get-color(blue_p1);
      color: get-color(white_s1);
      font-size: 1rem;

      border-style: none;

      svg {
        path,
        polyline {
          stroke: get-color(white_s1);
          color: get-color(white_s1);
        }
      }
    }

    &:focus {
      outline: 0;
    }

    &:active {
      transform: scale(0.9);
      background-color: darken(get-color(blue_p1), 5%);
      box-shadow: 0 2px 25px get-color(bg-cles);
    }
  }

  &_crud {
    border-style: none;
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: get-color(blue_p1);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    border-radius: brd(f);
    background-color: transparent;
    height: auto;
    //  background: rgba(get-color(blue_p1), 0.05);
    // border: 1px solid rgba(get-color(blue_p1), 0.1);

    &:hover,
    &:focus {
      svg,
      img {
        // filter: brightness(0);
        width: 0.9rem;
        height: auto;
      }
    }
  }

  &_icons {
    border-style: none;
    // background-color: get-color(white_s1);
    background-color: transparent;
    // border: 1px solid #242331;
    border-radius: brd(2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    border: 1px solid get-color(white_s1);
    gap: 0.5rem;
    // box-shadow: bsh(1);
    color: get-color(grey2_s4);
    height: 2.5rem;
    width: 4rem;

    &:hover,
    &:active {
      border: 1px solid get-color(blue_p1);
      // color: get-color(white_s1);
      // transform: translateY(-2px);
      font-size: 1rem;
      color: get-color(blue_p1);
    }
  }

  &_filter {
    border-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    align-items: center;
    font-weight: 500;
    // padding: 0rem 1rem;
    border-radius: brd(3);
    cursor: pointer;
    color: rgba(get-color(grey2_s4), 0.6);
    flex-direction: column;

    @include media(tablet) {
      width: auto;
      flex-direction: row;
      padding-left:1rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      @include media(tablet) {
        width: 1rem;
        height: 1rem;
      }

      path {
        stroke: get-color(grey2_s4);
      }
    }

    p {
      display: flex;
      justify-content: flex-start;

      align-items: flex-start;
      text-align: center;

      @include media(desktop) {
        text-align: start;
      }
    }

    &.active {
      // background-color: get-color(bg-cles);
      // border-radius: brd(2);
      color: get-color(t1-blue);
      height: inherit;

      svg {
        path {
          stroke: get-color(blue_p1);
        }
      }

      @include media(tablet) {
        border-radius: brd(f);
      }
    }
  }

  &_black {
    display: flex;
    width: auto;
    border-style: none;
    padding: 0.5em 1.25em;
    justify-content: center;
    align-items: center;
    //  font-size: smaller;
    // max-width: 200px;

    border-radius: brd(3);
    background: get-color(black_p2);
    color: get-color(white_s1);
    gap: 1rem;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    svg {
      path {
        fill: get-color(white_s1);
      }
    }

    @include media(tablet) {
      font-size: medium;
      padding: 0.8rem 1.25rem;
      gap: 1em;
    }

    &:focus {
      outline: 0;
    }

    &:focus,
    &:hover {
      background-color: get-color(white_s1);
      color: get-color(black_p2);
      border: 1px solid get-color(black_p2);
      transform: scale(0.9);
      box-shadow: 0 2px 25px get-color(bg-cles);

      svg {
        path {
          fill: get-color(black_p2);
        }
      }
    }
  }

  &_white {
    padding: 0.5rem 1rem;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid get-color(white_s1);
    color: get-color(white_s1);
    background: get-color(black_p2);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    text-decoration: none;
    display: flex;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    svg {
      path {
        fill: get-color(white_s1);
      }
    }

    @include media(tablet) {
      text-align: left;
      line-height: 144%;
    }

    &:focus {
      outline: 0;
    }

    &:focus,
    &:hover {
      background-color: get-color(white_s1);
      color: get-color(black_p2);
      border: 1px solid get-color(black_p2);
      transform: scale(0.9);
      box-shadow: 0 2px 25px get-color(bg-cles);

      svg {
        path {
          fill: get-color(black_p2);
        }
      }
    }
  }

  .white {
    color: get-color(black_p2);
    background: get-color(white_s1);
  }

  &_gradient {
    padding: 0.5rem 1rem;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid get-color(white_s1);
    // color: get-color(white_s1);
    // background: get-color(black_p2);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    line-height: 144%;
    text-decoration: none;
    display: flex;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    svg {
      path {
        fill: get-color(white_s1);
      }
    }

    // @include media(tablet) {
    //   font-size: medium;

    //   gap: 1em;
    // }

    &:focus {
      outline: 0;
    }

    &:focus,
    &:hover {
      background-color: get-color(white_s1);
      color: get-color(black_p2);
      border: 1px solid get-color(black_p2);
      transform: scale(0.9);
      box-shadow: 0 2px 25px get-color(bg-cles);

      svg {
        path {
          fill: get-color(black_p2);
        }
      }
    }
  }

  &_circle {
    border-radius: 50px;
    padding: 0.5rem;
    background-color: get-color(white_s1);
    border: 1px solid get-color(forms_s6);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: get-color(grey2_s4);

    img {
      width: 25px;
    }

    &:hover,
    &:active {
      border: 2px solid get-color(pink_s5);
      font-size: 1rem;
      background-color: get-color(black_p2);
      color: get-color(white_s1);

      svg {
        color: get-color(white_s1);
        font-size: 1.2rem;
      }
    }
  }

  &_green {
    background-color: transparent;
    color:get-color(black_p2);
    text-decoration:underline;
    padding: 0.5rem;
    border-radius: brd(2);
    border-style: none;
    width: 9rem;

    &:hover {
      padding: 0.5rem 0.6rem;
      font-weight: 600;
    }
  }

  &_red {
    // background-color: get-color(t3-red);
    padding: 0.5rem;
    // color: get-color(white_s1);
    background-color: transparent;
    color:get-color(t3-red);
    text-decoration:underline;
    border-radius: brd(2);
    border-style: none;
    width: 9rem;

    &:hover {
      padding: 0.5rem 0.6rem;
      font-weight: 600;
    }
  }
}

//modificador para botones pequeños
.small {
  margin: 0.5rem;
  padding: 0.625rem 2rem;
  width: 100%;

  @include media(tablet) {
    max-width: 200px;
  }
}

.black {
  background-color: get-color(black_p2);
  color: get-color(white_s1);

  &:hover {
    background-color: get-color(white_s1);
    color: get-color(black_p2);
    font-size: 1rem;
    border: 1px solid get-color(grey1_s3);
    // transform: translateY(-2px);
  }
}

.white {
  background-color: get-color(white_s1);
  color: get-color(black_p2);
  border: 1px solid get-color(grey1_s3);

  &:hover {
    background-color: get-color(black_p2);
    color: get-color(white_s1);
    font-size: 1rem;
    // transform: translateY(-2px);
  }
}

.disabled {
  opacity: 0.5;
  border-style: none;
  cursor: not-allowed;
  /* Cambia el cursor a "no permitido" */
  pointer-events: none;
  /* Desactiva eventos de puntero */
}

.desactivo {
  opacity: 0.8;
  background-color: get-color(grey1_s3);
  cursor: not-allowed;
  border-style: none;
  color: get-color(white_s1);
}

.cloudContainer {
  position: relative;

  .cloud {
    position: absolute;
    background-color: get-color(pink_s5);
    padding: 0.5rem;
    border-radius: 11px 10px 10px 10px;
    box-shadow: bsh(2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    top: -36px;
    left: 0;
    color: get-color(blue_p1);
    filter: drop-shadow(0px 0px 1px get-color(pink_s5));
  }
}

button:hover + .cloud {
  opacity: 1;
  /* Se hace visible cuando el botón está en :hover */
}

.box-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  @include media(tablet) {
    flex-wrap: nowrap;
  }
}

.searchButton {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: get-color(white_s1);
  height: 2.5em;
  border-radius: brd(2);
  @include media(tablet) {
    width: auto;
  }

  input {
    font-size: 1rem;
    height: 1.5em;
    color: get-color(t1-blue);
    background-color: transparent;
    font-weight: 500;
    border-style: none;
    padding: 1em;
    width: 100%;

    &::placeholder {
      color: #8f9bba;
      font-weight: 400;
    }
  }

  button {
    border-style: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

    padding-left: 1rem;

    svg {
      color: get-color(t1-blue);
      pointer-events: none;
    }
  }
}

// .text-gradient {
//   color: transparent;
//   background-clip: text;
//   animation: colorGrad 3s linear infinite;
//   background-size: 100%;

//   text-transform: capitalize;

//   /* stroke liner */
//   background: linear-gradient(180deg, #ffffff 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(140deg, #1eaaf1 6.13%, #6ad2ff 30.51%, #6640ff 68.01%);

//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background-clip: text;
//   text-fill-color: transparent;
// }

@keyframes colorGrad {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

// components/GradientButton.module.scss
.box-container-gradient {
  position: relative;
  display: inline-block;
  border-radius: 100px; /* Radio del contenedor */
  padding: 0.15rem; /* Espacio alrededor del botón */
  background-image: linear-gradient(90deg, #bf4fdb, #5778ea, #3db1f7);
  background-size: 200% 200%; /* Aumenta el tamaño para un mejor efecto de movimiento */
  animation: gradientAnimation 5s linear infinite; /* Añade la animación del fondo */

  .gradientButton {
    padding: 0.75rem 1rem; /* Ajusta según sea necesario */
    border-radius: 50px; /* Radio del botón */
    font-size: 16px;
    font-weight: 500;
    cursor: auto;
    background-color: get-color(black_p2); /* Fondo del botón negro */
    color: get-color(white_s1); /* Color del texto */
    border: none; /* Sin borde directo */
    z-index: 2; /* Asegura que el botón esté al frente */
    text-transform: uppercase; /* Convierte la primera letra de cada palabra a mayúscula */
    letter-spacing: 1.75px; /* Incrementa la separación entre letras */
  }
}

.whiteButton {
  background-color: get-color(white_s1) !important; /* Fondo del botón negro */
  color: get-color(black_p2) !important; /* Color del texto */
}

/* Definición de la animación */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Comienza en la posición inicial */
  }
  100% {
    background-position: 100% 50%; /* Termina en la posición final */
  }
}
