.currency {
  &_features {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;

    span {
      color: get-color(lilac_p3);
    }

    .description {
      display: flex;
      flex-direction: column;
      @include media(tablet) {
        flex-direction: row;

        p {
          font-size: large;
          display: inline-block;
          padding: 1em;
          width: 30%;
        }
      }

      .videoPlayer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        iframe {
          width: 40vw;
          height: 40vh;
          border-radius: brd(2);
          margin: 0.5em;
        }
      }
    }
  }

  &_benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
      font-size: medium;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1em;
      // flex-wrap: wrap;
      padding: 0.5em;

      ul {
        padding: 0.5em;
        display: flex;
        align-items: center;
        flex-direction: column;

        li {
          text-align: center;
          margin-bottom: 5px;
          list-style-type: disc;

          display: inline-block;
          align-items: center;
        }

        svg {
          height: 40px;
          width: 40px;
          margin: auto;
        }
        button {
          background-color: transparent;
          border-style: none;
          color: get-color(lilac_p3);
        }
      }

      @include media(tablet) {
        display: grid;
        // grid-template-columns: 1fr 1fr;
      }
    }
  }

  &_configurations {

    .contentForm {
      width: 95vw;
      height: 90vh;


      @include media(desktop) {
        width: 90vw;
        height: auto;

       
      }

      @include media(extradesktop) {
        width: 80vw;
        height: auto;
      }

      .closeform {
        button {
          top: 81px;
        }
      }

      .MuiFormHelperText-root {
        color: color-mix(in srgb, get-color(t3-red) 60%, black);//oscurecer el rojo
      }
    }

    .box-search {
      span {
        color: get-color(grey2_s4);
      }
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: brd(2);
  background-color: rgba(get-color(t3-red), 0.1);
}

.conten-form-Curency {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .form-Curency {
    width: 100%;

    .box-filter .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
    .box-filter .css-qiwgdb {
      padding-right: 1rem;
      margin-top: 0.25rem;
    }
  }

  .group {
    padding: 1rem 0rem;
  }
}
