.config-Automated {
  width: 100%;
  //  padding: 1em;

  &--emails {
    display: flex;
    width: 100%;

flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: smaller;
   

    .description{
      display: flex;
      padding: 0.5rem;
      width: 100%;
      margin: 0;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.25rem;
      @include media(tablet) {
        font-size: medium;
        
      }
 
    }
    .emailBox {
      width: 100%;
      display: flex;
       flex-direction: column;
      justify-content: center;

      @include media(tablet) {
        flex-direction: row;
        gap: 1em;
        align-items: center;
      }
    }
  }

  &--tables {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    width: 100%;
    align-items: center;
    

  }

 
}



.container-status{ 

  width: 100%;   
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-direction: column;
  align-items: center;

  

  .status-config {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: first baseline;


      li {
        display: flex;
        gap: 1em;
        justify-content: center;
        @include media(tablet) {
        
          justify-content: space-between;
        }


        .Active {
          color: get-color(blue_p1);
        }
      }
    }
  }

 

  .box-emails {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .card--emails {
      display: flex;
      align-items: flex-start;
      
      flex-direction: row;
      
      .emails {
      // max-width: 20rem; 
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     
      //  overflow: hidden; // Oculta el contenido que desborda del ancho máximo
      // display: inline-block; // Asegura que el contenedor tome solo el ancho que necesita
      // white-space: nowrap; // Evita que el contenido se envuelva a la siguiente línea
      //  text-overflow: ellipsis;
      //   gap:1rem;
      //   // Evita que el contenido se envuelva a la siguiente línea
      //   color: get-color(grey1_s3);

        p{
          padding-left: 0.25rem;
        
        }
      }
    }
    svg {
      color: get-color(blue_p1);
    }


  }
}




.status{
  &-active{
    color:get-color(blue_p1);
  }
  &-disabled{
    color:get-color(t3-red);
    
  }

 
}



.emailsFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    flex: 1;
  }
}


p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // justify-content: center;
  // align-items: center;
  gap: 0.25em;
  white-space: nowrap;
}

.listEmails {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--s-2-pink, #efecff);
    background: var(--s-1-white, #fff);

    li {
      // background-color: aqua;
      display: flex;
      justify-content: space-between;

      padding: 0.5em 1em;
    }
    button {
      background-color: transparent;
      border-style: none;

      svg {
        color: get-color(blue_p1);
      }
    }
  }
}

.formCredential{
  .GroupForm{
    display: flex;
    flex-direction: column;
     
    /* Ajusta el ancho según tus necesidades */
    @include media(tablet) {
        display: grid;
     grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
     grid-template-rows: repeat(3, 1fr); /* Tres filas de igual tamaño */
     grid-gap: 1rem; /* Espacio entre elementos */
     
   }
   }

   .content{
 
    .group{
      display: flex;
      flex-direction: column;
  
      @include media(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-gap: 1rem;
        grid-column-gap: 2rem;
      
       }
    
    }
   }
  

}

.subtitle{
  padding-top: 1rem;
  .sub{
   color:get-color(black_p2);
   
  }
  .description{
    color:get-color(grey2_s4)
  }
 }




.Form-listCredential{
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }



.state-box{
  display: flex;
  gap: 1rem;
  .content{
    display: flex;
    width: 100%;
    gap:1rem;
    justify-content: space-around;
    label{
      display: flex;
      gap:1rem;
    }
  }
}

.country-box,.bank-box{
  padding: 1rem 0rem;
@include media(tablet) {
  padding: 0rem 0rem;

 }
}



}


.submit-box{
  padding: 2rem 0rem ;
  width: 100%;
  display:flex;
  justify-content:center;
  gap:1rem;
  align-items: center;
  align-content: center;
  button{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}

.head-status{
  min-width: 10rem;
 
}

.docDowland{
  background-color: get-color(bone_s2);

}

.befenitDes{
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:get-color(grey2_s4);
}


.shedule{
  display: flex;
  width: 100%;
  gap:2rem;

  .checkbox{
    display: flex;
    gap:0.25rem;
    align-items: flex-end;
  }
 
  flex-direction: column;
  align-items: center;
  .repository{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
   
    a{
      display: inline-block;
    }
  }

}

.accounts-tables{
 width: 100%;
 display: inline-block;

//  @include media(tablet) {
//   width: 60%;
//  }
//  @include media(desktop) {
//   min-width: 76%;
  
  
//  }
}


.noti{
  background-color: get-color(pink_s5);
  border-radius: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  span{
    color:get-color(blue_p1);
  }
}