.config-Automated {
  width: 100%;
  //  padding: 1em;

  &--tables {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.container-status {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-direction: column;
  align-items: flex-start;

  .status-config {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    @include container;

    .name-blue {
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;

      p:first-of-type {
        /* Estilos para el primer elemento <p> */
        color: get-color(grey2_s4);
        display: flex;
        justify-content: flex-start;
        text-align: start;
        width: 100%;
        flex: 1;
      }

      p:nth-of-type(3) {
        /* Estilos para el segundo elemento <p> */
        color: get-color(t1-blue);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex: 3;
      }

      li {
        display: flex;

        gap: 1em;
        justify-content: center;

        @include media(tablet) {
          justify-content: space-between;
        }

        .Active {
          color: get-color(blue_p1);
        }
      }
    }
  }

  .container-emails {
    @include container;
    width: 100%;

    .form-emailTo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .input-box {
        flex: 6;
      }

      .box-add {
        flex: 1;
        width: 100%;
      }

      @include media(tablet) {
        flex-direction: row;
        gap: 1em;
      }
    }

    .box-emails {



      &-show {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        gap: 1rem;
        width: 100%;


        .box-title {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .box-edit {
            width: auto;
            display: flex;
            text-align: left;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 2rem;



            .btn_crud {
              border: 1px solid rgba(get-color(blue_p1), 0.3);
              // border-radius: brd(1);
            }
          }
        }

        .box-emails {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include media(tablet) {
            flex-direction: row;
          }



          .list-emails {
            flex: 1;

            p{
              padding-right: 0.25rem;
              color: rgba(get-color(grey2_s4), 0.7)
            }
          

          }

          

          .cards {
            display: flex;
            width: 100%;
            align-items: flex-start;
            flex-wrap: wrap;
          }

        }




        .card--emails {
          border: 2px solid var(--s-2-pink, #efecff);
          background: var(--s-1-white, #fff);
          border-radius: brd(1);
          padding: 1rem;

          display: flex;
          align-items: flex-start;
          flex-direction: column;
          flex-direction: column;
          gap: 2rem;
        }

        svg {
          color: get-color(blue_p1);
        }
      }

      &-update {
        display: flex;
        width: 100%;
        gap: 1rem;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: smaller;


        .box-update {
          padding: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 2px solid var(--s-2-pink, #efecff);
          background: var(--s-1-white, #fff);
          border-radius: brd(1);

          // form {
          //   flex: 1;
          // }
        }

        .description {
          display: flex;

          width: 100%;
          margin: 0;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 0.25rem;

          @include media(tablet) {
            font-size: medium;
          }
        }
      }


    }
  }

  .emails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // width: 100%;
    gap: 0.5rem;
    text-align: center;


    span {
      font-size: medium;
    }

    p {
      background-color: get-color(bone_s2);
      color: get-color(black_p2);
      padding: 0.25em 0.5rem;
      border-radius: brd(1);
      font-weight: 300;
      width: auto;
      display: inline-flex;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      border-radius: brd(2);

      gap: 0.5rem;

      @include media(tablet) {
        padding: 1rem;
      }

      li {

        background-color: get-color(bone_s2);
        color: get-color(black_p2);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include media(tablet) {
          justify-content: space-between;
        }

        padding: 0.5rem;
        border-radius: brd(1);
      }

      button {
        background-color: transparent;
        border-style: none;

        svg {
          color: get-color(blue_p1);
        }
      }
    }
  }
}

.status {
  &-active {
    color: get-color(grey2_s4);
  }

  &-disabled {
    color: darken(get-color(t3-red), 20%);
  }
}

.formCredential {
  .GroupForm {
    display: flex;
    flex-direction: column;

    /* Ajusta el ancho según tus necesidades */
    @include media(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* Dos columnas de igual tamaño */
      grid-template-rows: repeat(3, 1fr);
      /* Tres filas de igual tamaño */
      grid-gap: 1rem;
      /* Espacio entre elementos */
    }
  }

}

.subtitle {
  padding-top: 1rem;

  .description {
    color: get-color(grey2_s4);
  }
}

.group {
  display: flex;
  flex-direction: column;

  @include media(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-gap: 1rem;
    grid-column-gap: 2rem;
  }
}

.Form-listCredential {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include media(tablet) {
    padding: 0rem 1rem;
  }

  h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .country-box,
  .bank-box {
    padding: 1rem 0rem;

    @include media(tablet) {
      padding: 0rem 0rem;
    }
  }
}

.state-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .content {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-around;

    label {
      display: flex;
      gap: 1rem;
    }
  }
}

.submit-box {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  button {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}

.head-status {
  min-width: 10.5rem;

  button {
    width: 9.5rem;
  }
}

.befenitDes {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: get-color(grey2_s4);
}

.shedule {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  .checkbox {
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
  }

  .repository {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    a {
      display: inline-block;
    }
  }
}

.accounts-tables {
  width: 100%;
  display: inline-block;
  display: flex;
  gap: 1rem;
}

.noti {
  background-color: get-color(pink_s5);
  border-radius: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  span {
    color: get-color(blue_p1);
  }
}

.name-blue {
  color: get-color(blue_p1);
}