
.home{



    &-client{

        display: flex;
        justify-content: center;
        width: 100%;
        background-image: url("../../../public/img/testimonials/map.png");
        background-repeat: no-repeat;
        background-size:contain;
        height: 80vh;
        width: 100vw;
        background-position: center;
    


    }
    
   
}