.home {

  &-nav {
    margin-top: 0;
    padding: 0.5rem 2rem;
    background-color: transparent;
    background-color: get-color(black_p2);
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;

    @include media(tablet) {
      padding: 0.5rem 4rem;
    }

    @include media(desktop) {
      padding: 0.5rem 8rem;
    }

    ul {
      // width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: row;
    }

    .nav-menu {
      justify-content: flex-end;
      display: none;

      @include media(tablet) {
        display: flex;
      }
    }

    .logo-img {
      cursor: pointer;

      img {
        height: 3rem;
        width: auto;

        @include media(tablet) {
          height: auto;
        }
      }
    }

    
  }

  &-front {
    @include home-container;
    padding-top: 10rem;
    height: auto;
    color: get-color(white_s1);
    background-color: get-color(black_p2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    @include media(tablet) {
      padding-top: 8rem;
    }

    .welcome {
      width: 100%;
      flex: 0.5;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      @include media(tablet) {
        padding-top: 4rem;
      }

      .text-description {
        display: flex;
        justify-content: center;
        display: inline-block;
        text-wrap: wrap;
        line-height: 130%;
        padding-top: 1rem;

        text-align: center;
        color: rgba(get-color(forms_s6), 0.85);

        @include media(tablet) {
          padding-top: 0rem;
          max-width: 50vw;
        }

        @include media(desktop) {
          padding-top: 1rem;
          max-width: 50vw;
        }
      }

      .welcome-letter {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 2.5rem;
          line-height: 0;
          font-weight: 500;
          display: flex;
          text-align: end;
          align-items: center;
          flex-direction: column;

          @include media(tablet) {
            font-size: 3rem;
            line-height: 1;
            display: flex;
            flex-direction: row;
          }

          @include media(desktop) {
            font-size: 4.5rem;
            line-height: 1.2;
          }

          span {
            margin-left: -1rem;
            margin-right: -1rem;
          }
        }
      }
    }

    .image-dashboard {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 20rem;
        height: auto;

        @include media(tablet) {
          height: auto;
          width: 40rem;
        }

        @include media(desktop) {
          height: auto;
          width: 60rem !important;
          max-height: 90rem;
        }
      }
    }
  }

  &-counter {
    width: 100%;

    .box-counter {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 1rem;
      padding: 1rem;
      z-index: 1;

      @include media(desktop) {
        justify-content: space-around;
      }

      @include media(extradesktop) {
        margin: 2rem;
        justify-content: center;
      }

      li {
        display: flex;

        align-items: center;
        flex-direction: column;
      }

      // h2 {
      //   font-size: 2.25rem;

      // }

      p {
        color: get-color(white_s1);
        text-align: center;
        max-width: 15rem;
      }

      span {
        font-size: 2rem;
        display: flex;

        font-weight: 500;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;

        @include media(tablet) {
          font-size: 3rem;
        }
      }
    }
  }

  &-flow {
    width: 100%;
    background-color: #fdfcfc;
    // gap: 1rem;
    @include home-container;
    flex-direction: column;

    .box-flow {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img {
        height: 22vh;
        image-orientation: center;

        @include media(tablet) {
          height: 40vh;
        }

        @include media(desktop) {
          height: 36rem;
          max-height: 80rem;
        }
      }
    }
  }

  &-skills {
    background-color: get-color(black_p2);
    @include home-container;

    @include media(extradesktop) {
      padding-right: 0rem !important;
      // margin-right: 0rem;
    }

    .box-container-gradient {
      align-self: flex-start;
      margin-top: 4rem;
    }

    .container-process {
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      display: flex;
      gap: 2rem;

      @include media(tablet) {
        flex-direction: row;
        gap: 1rem;
      }
    }

    .box-images {
      flex: 2;
      position: sticky; // Mantiene la sección fija
      top: 56%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      @include media(tablet) {
        top: 8rem;
      }

      figure {
        display: flex;
        width: max-content;
        height: 50vh;
        flex-direction: row;
        position: relative;
        display: flex;
        justify-content: flex-start;
        top: 10%;
        background-color: rgba(get-color(black_p2), 0.85);

        @include media(tablet) {
          height: 80vh;
          background-color: transparent;
        }

        .image-one {
          position: relative;
          transition: transform 1s ease-in-out;
          z-index: 2;
          left: 0;
          /* Asegura que la imagen se ajuste al contenedor */
          height: auto;

          height: 100%; // O el valor que prefieras para que ocupe también la altura
          object-fit: fill; // Asegura que la imagen cubra el contenedor completamente, aunque se recorte
          overflow-y: hidden;
          width: 20rem;

          @include media(tablet) {
            width: 28rem;
          }

          @include media(desktop) {
            width: auto;
          }
        }

        .image-two {
          // display: none;
          position: absolute;
          object-fit: cover; // Asegura que la imagen cubra el contenedor completamente, aunque se recorte
          height: 32vh;
          left: 20%;
          z-index: 2;
          top: 5%;

          /* Mueve el elemento a la derecha inicialmente */
          opacity: 0;
          /* Comienza invisible */
          transform: translateX(100%);
          /* Transiciones para transform y opacity */
          overflow-y: hidden;
          transition: transform 0.5s ease, opacity 0.5s ease;
          width: min-content;

          @include media(tablet) {
            top: 15%;
            height: 59vh;
            display: block;
            left: 20%;
            width: 38vw;
          }

          @include media(desktop) {
            left: 20%;
            height: 60vh;
            width: 35vw;
          }
        }
      }
    }

    .box-process {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      overflow-y: auto;
      flex: 1.5;
      overflow-y: auto; // Permite que se desplace verticalmente
      background-color: rgba(get-color(black_p2), 0.75);

      padding: 1rem 1rem 10rem 1rem;

      @include media(tablet) {
        gap: 2rem;
        background-color: transparent;
        padding: 1rem;
      }
    }

    .process {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 2rem;
      overflow: hidden;
      height: 83vh;

      @include media(tablet) {
        height: 100vh;
        gap: 2rem;
      }

      .process-description {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        flex-direction: column;
        z-index: 0;
        position: relative;

        h3 {
          color: rgba(get-color(white_s1), 1);
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          font-size: 1.5rem;
          font-weight: 400;
          padding-top: 0rem;
          margin-top: 0rem;

          @include media(tablet) {
            font-size: 2.5rem;
          }
        }

        p {
          color: rgba(get-color(forms_s6), 0.8);
        }

        span {
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: 400;
          color: rgba(get-color(white_s1), 1);
          padding-bottom: 0rem;
          margin-bottom: 0rem;
          text-shadow: 0 0 10px rgba(182, 140, 240, 0.8), 0 0 20px rgba(15, 0, 15, 0.6);
          filter: brightness(1);
          letter-spacing: 2px;

          @include media(tablet) {
            font-size: 1rem;
          }

          /* Aumenta el espaciado entre letras */
        }
      }
    }
  }

  &-advantages {
    @include home-container;

    .box-advantage {
      display: grid;
      grid-template-columns: 1fr; // 1 columna en pantallas pequeñas
      gap: 2rem 1rem;
      padding: auto;

      @include media(tablet) {
        grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas medianas
      }

      @include media(desktop) {
        grid-template-columns: repeat(3, 1fr); // 3 columnas de igual tamaño
      }

      .advantage {
        display: flex;
        max-width: 60rem;
        padding: 1.5rem;
        box-shadow: bsh(3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; // Asegura que todas las cards tengan la misma altura
        gap: 1rem;
        background-color: transparent;

        &:hover {
          box-shadow: bsh(2);
          border-radius: brd(2);
        }

        svg {
          width: 100%;
          height: 2rem;
          display: flex;
          align-self: flex-end;
          justify-content: flex-start;
          text-align: start;

          @include media(tablet) {
            height: 2.5rem;
          }

          path {
            fill: transparent;
            stroke: get-color(blue_p1);
          }
        }

        h3 {
          color: get-color(black_p2);
          height: auto;
          font-size: 1.2rem;
          font-weight: 400;

          @include media(tablet) {
            height: 4rem;
            font-size: 1rem;
          }

          @include media(desktop) {
            height: 3rem;
            font-size: 1.2rem;
          }
        }

        p {
          color: get-color(grey2_s4);
          text-align: left;
          font-size: 0.9rem;
          height: auto;
          background-color: transparent;

          @include media(tablet) {
            height: 7rem;
          }

          @include media(desktop) {
            height: 6rem;
          }
        }
      }
    }
  }

  &-simple {
    @include home-container;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    gap: 2rem;

    @include media(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    @include media(desktop) {
      justify-content: center;
    }

    .title-home {

      h2,
      p {
        text-align: right;
      }

      // p{
      //   margin-left: 1rem;

      // }
    }

    .box-container-gradient {
      align-self: flex-end;
      margin-top: 1rem;

      button {
        cursor: pointer;
      }
    }

    .simple-box {
      height: max-content;
      display: flex;
      align-items: flex-start;
      padding-bottom: 4rem;
    }

    figure {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-bottom: 0rem;

      @include media(tablet) {
        width: 50%;
      }

      @include media(desktop) {
        width: 50%;
      }

      img {
        height: 20rem;
        max-height: 50rem;

        @include media(tablet) {
          height: 30rem;
        }

        @include media(desktop) {
          height: 35rem;
        }
      }
    }

    .simples-skills {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 1rem;

      font-weight: 400;
      color: rgba(get-color(black_p2), 1);

      @include media(tablet) {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
      }
    }
  }

  &-insigths {
    @include home-container;
    background-color: get-color(black_p2);

    .box-insigths {
      display: grid;
      grid-template-columns: 1fr; // 1 columna en pantallas pequeñas
      gap: 2rem 1rem;
      padding: auto;

      @include media(tablet) {
        grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas medianas
      }

      @include media(desktop) {
        grid-template-columns: repeat(3, 1fr); // 3 columnas de igual tamaño
      }
    }

    .insigths {
      max-width: 40rem;
      background-color: transparent;
      display: flex;
      height: max-content;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 1rem;

      figure {
        @include media(tablet) {
          // height: 10rem;
        }

        display: flex;
        position: relative;
        cursor: grab;

        &:hover,
        &:focus {
          img {
            filter: grayscale(0%);
            filter: brightness(1.2);
            /* Aumenta el brillo en un 20% */
            /* Remueve el gris al hacer hover o foco */
          }
        }

        img {
          width: 100%;
          /* Ocupa todo el5 ancho del contenedor */
          height: 15rem;
          /* Ocupa todo el alto del contenedor */
          object-fit: cover;
          filter: grayscale(0%);
          /* Inicialmente la imagen estará un poco gris */
          transition: filter 0.3s ease;
          /* Animación suave para el cambio de filtro */

          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
          /* Sombra interna negruzca */
        }

        .title {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          text-align: left;
          padding: 1rem;
          font-size: 0.8rem;
          right: 0;
          left: 0;
          letter-spacing: 2px;
          top: 50%;
          gap: 0.5rem;

          // margin-left: 1rem;
          background-color: rgba(get-color(black_p2), 0.65);

          span {
            font-weight: 400;
            text-transform: uppercase;
            color: rgba(get-color(white_s1), 0.8);
          }

          h3 {
            color: rgba(get-color(white_s1), 1);
            position: relative;
            display: inline-block;

            @include gradient-underline;

            @include media(tablet) {
              height: 4.5rem;
            }

            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 300;
            overflow: hidden;
            display: -webkit-box;
            /* Caja flexible compatible con WebKit */
            -webkit-line-clamp: 3;
            /* Limita el número de líneas visibles */
            -webkit-box-orient: vertical;
            /* Orientación vertical */
            text-overflow: ellipsis;
            /* Puntos suspensivos al final */
            /* Muestra puntos suspensivos si el texto no cabe */
          }
        }
      }

      .box-description {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .insigths-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.75rem;
          color: rgba(get-color(white_s1), 0.6);
        }

        .insigths-description {
          font-size: 0.75rem;
          text-align: justify;
          color: rgba(get-color(white_s1), 0.8);

          @include media(tablet) {
            height: 8rem;
          }

          @include media(tablet) {
            height: 6rem;
          }
        }
      }


    }
  }

  &-client {
    @include home-container;

    .box-client {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      

      @include media(desktop) {
        width: 100%;
        justify-content: center;
        flex-direction: row;
       align-self: center;
        align-items: center;

      }

      .client-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        align-self: center;
        height: 100%;
        width: max-content;
    

        
      }

      .mySwiper {


        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-wrapper{
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

         .swiper-pagination-bullet-active{
          background-color: transparent;
          background-image: linear-gradient(60deg, #d037d8, #6640ff 75%, #0ea4ca);
     
         }

      }

    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background-color: rgba(get-color(black_p2), 1);



    @include home-container;
    gap: 2rem;

    p,
    a {
      font-size: 1rem;
      font-weight: 400;
    }

    &-info {
      display: grid;
      gap: 3rem;
      padding: auto;

      grid-template-columns: 1fr; // 1 columna en pantallas pequeñas

      @include media(tablet) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }

      .footer-message {
        width: auto;

        p {
          text-wrap: wrap;
        }

        .message {
          text-align: start;
          font-style: oblique;
        }
      }

      .footer-menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        // padding: 1rem 0rem 1rem 0rem;

        @include media(tablet) {
          flex-direction: column;
          justify-content: flex-start;
        }

        h4 {
          color: rgba(get-color(white_s1), 1);
        }

        li {
          list-style: none;
          color: rgba(get-color(white_s1), 1);
          font-weight: 400;
          text-transform: uppercase;
          position: relative;
          width: 100%;
          justify-content: center;
          align-items: flex-start;

          @include text-underline;

          @include media(tablet) {
            text-transform: initial;
          }

          a {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            color: rgba(get-color(white_s1), 0.95);
          }
        }
      }

      .footer-social {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
        gap: 1rem;

        p {
          text-align: start;
          display: flex;
          align-items: flex-start;
          gap: 0.25rem;
          color: rgba(get-color(white_s1), 0.85);
        }

        svg {
          display: flex;
          align-self: baseline;
        }
      }
    }

    &-logo {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      color: rgba(get-color(white_s1), 0.75);
      font-size: 1rem;
      font-weight: 400;

      @include media(tablet) {
        flex-direction: row;
        align-items: flex-end;
      }

      img {
        height: 3rem;
        width: auto;

        @include media(tablet) {
          height: auto;
        }
      }

      .footer-privacy {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

.scroll-header {
  background-color: rgba(get-color(black_p2), 0.95);
}

.openMovil {
  // Cuando el menú esté abierto

  padding: 1rem 2rem 4rem 1rem !important;
  max-height: 100vh !important; // Se expande hasta el 60% del alto de la pantalla
}


.nav-movil {
  display: block;
  position: relative;

  @include media(tablet) {
    display: none;
  }

  .hamburgerMenu {
    button {
      background-color: transparent;
      border-style: none;
    }

    svg {
      font-size: 1.5rem;
      fill: rgba(get-color(white_s1), 1);
    }
  }

  .movil-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 1rem;
    z-index: 1;
    top: 160%;
    right: -132%;

    background-color: rgba(get-color(black_p2), 0.95);
    width: 100vw;
    max-height: 0; // Inicialmente oculto
    overflow: hidden; // Evita que el contenido se desborde
    transition: max-height 0.45s ease-in-out; // Animación suave

    .box-buttons-movil {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1rem;

      .btn_white {
        width: 100%;
        align-self: center;
      }

      .languaje-white {
        align-self: center;
      }
    }

    .list-options {
      display: block; // Coloca cada `li` en una nueva línea
      padding: 0.75rem;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      text-align: center; // Centra el texto dentro del `li`
      width: 100%;
        @include text-underline;
    
      
    }

    .submenu{
      padding: 1rem  0.5rem ;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap:0.5rem;
      flex-direction: column;
      border-left: 1px solid rgba(get-color(white_s1), 0.6);
      margin-left: 5%;
      text-align: start;

    }
  }
}

.record {
  background-color: transparent;
  display: flex;
  gap: 0.25rem;
  border-style: none;
  color: get-color(grey1_s3);
  align-items: center;





  path {
    padding: 0.25rem;

    stroke: get-color(grey1_s3);
  }


}

.strokeTransparent {

  path {
    stroke: none !important;
    fill: rgba(get-color(white_s1), 0.95) !important;
  }

}

.title-home {
  display: flex;
  align-items: center;
  justify-content: center;
  //  color:get-color(white_s1);
  gap: 0.75rem;
  flex-direction: column;

  h2 {
    font-size: 2rem;
    font-weight: 400;

    color: get-color(white_s1);
    display: inline-block;
    text-wrap: wrap;

    @include media(tablet) {
      font-size: 3rem;
      line-height: 48px;
      max-width: 60vw;
    }
  }

  p {
    line-height: 24px;
    text-align: center;
    max-width: 100%;
    // font-weight: 400;
    // color:rgba(get-color(white_s1), 0.8);

    @include media(tablet) {
      max-width: 60vw;
      text-align: center;
    }

    // color: get-color(grey1_s3);
    color: rgba(get-color(forms_s6), 0.75);
  }
}

.blacktext {

  h2,
  p {
    color: get-color(black_p2);
  }

  p {
    color: get-color(grey2_s4);
  }
}

.in-view {
  transform: translateX(0) !important;
  /* Mueve el elemento a su posición original */
  opacity: 1 !important;
  /* Hacerse visible */
}

.out-of-view {
  /* Mueve el elemento a la derecha */
  opacity: 0 !important;
  transform: translateX(1%) !important;

  @include media(tablet) {
    transform: translateX(10%) !important;
  }

  @include media(desktop) {
    transform: translateX(40%) !important;
  }

  @include media(extradesktop) {
    transform: translateX(10%) !important;
  }

  /* Hacerse invisible */
}

.gradient {
  font-size: 72px;
  color: get-color(white_s1);
  text-wrap: wrap;

  span {
    // padding-left: 0.25rem;
    // padding-right: 0.25rem;
    // font-weight: 500;
    background: -webkit-linear-gradient(140deg, #1eaaf1 6.13%, #6ad2ff 30.51%, #6640ff 68.01%);
    background-clip: text;
    background-image: linear-gradient(90deg, #d037d8, #6640ff 75%, #0ea4ca);
    -webkit-background-clip: text;
    // background-image: linear-gradient(180deg, #784BF3 0%, #BB39D3 100%,  #6640ff 6.01%,  #6ad2ff 10.51%,);
    -webkit-text-fill-color: transparent;
  }
}

.letter-transition {
  position: absolute;
  opacity: 0;
  font-size: 2rem;
  animation: fadeInOut 10s infinite;
  /* Cambiamos la duración total de la animación a 10s */

  @include media(tablet) {
    font-size: 3.5rem;
  }

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 5s;
    /* El segundo párrafo empieza después de que el primer párrafo termine su ciclo */
  }
}

@keyframes fadeInOut {

  0%,
  50%,
  100% {
    opacity: 0;
  }

  20%,
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes gradientHome {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



/* components/BackEffect.module.css */
.back-front {
  background: url('../../../public/img/hero_bg_top_maskm.png') center top / cover no-repeat;
  width: 100%;
  height: 300px;

  position: absolute;
  justify-content: flex-start;
  z-index: 0;
  top: -20%;
  left: 0;
  opacity: 0.4;
  @include media(tablet) {
    height: 500px;
  }
}

.maskBack {
  mask-image: url('../../../public/img/hero_bg_top.png');
  // mask-image: url('../../../public/img/fondo.svg');
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  mask-position: center top;
  background-position: center top;
  width: 100%;
  height: 300px;
  mask-size: cover;
  z-index: 9;
  opacity: 1;
  @include media(tablet) {
    height: 500px;
  }


  .animation {
    animation: topAnimation 6s cubic-bezier(0.62, 0.62, 0.28, 0.67) infinite;
    animation: 6s cubic-bezier(0.62, 0.62, 0.28, 0.67) 0s infinite normal none running topAnimation;
    background: linear-gradient(rgba(183, 164, 251, 0) 0px,
        rgb(164, 216, 251) 100%,
        rgb(161, 21, 216) 100%,
        rgba(133, 98, 255, 0) 0%);
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -100;

    @include media(tablet) {
      height: 500px;
    }
  }

}


@keyframes topAnimation {
  0% {
    transform: translateY(-302px)
  }

  100% {
    transform: translateY(400px);
  }
}