.idProduct{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    justify-content: center;
    align-items: center;

 &_container {
    width: 100%;

  }

}


.freetrial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  width: 100%;
  gap: 1em;
 
  @include media(tablet) {
    flex-direction: row;   
      
  }


  .message-support{
      
      display: flex;
      margin-top: -5rem;
      margin-left: -4rem;
      align-items: center;
      gap:0.25rem;
      flex-direction: column;
      color:get-color(blue_p1);
      font-size: 1.2rem;
      font-weight: 600;

      @include media(tablet) {
       
        margin-top: -7.5rem;
        font-size: 1.5rem;

        span{
          color:get-color(lilac_p3);
          font-size: 1.5rem;
          font-weight: 600;
        }
        p{
          font-size: 1.5rem;
          font-weight: 600;
          color:get-color(black_p2)
  
        }
        
      }

     
    
    
  }




  &_description{

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap:1em;
    flex:1;
   
    span{
      color:get-color(lilac_p3);
    }
    p{
      color:get-color(black_p2);
      text-align: center;
      display:inline-block
    }
    img{
  
      max-width: 15rem;
      @include media(tablet) {
        max-width: 20rem;
              
      }
      @include media(desktop) {
   
        max-width: 24rem;
        
      }
    }

  }

  &_contact{
 
      flex:2;
      width: 100%;

 
  }

  .send{
    display: flex;
    width: 100%;
    align-items: center;

  }
}


.apiconfiguration{
 
  padding: 1rem;
gap:1rem;
display: flex;
flex-direction: column;

  h3{
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .state{
    color:get-color(blue_p1);
  }

  .name-product{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    span{
      color:get-color(black_p2)
    }
  }

  .css-dmmspl-MuiFormGroup-root{
    display: flex;
    flex-direction: row;

    
  }

  .state-message{
    color:get-color(lilac_p3)

  }

  .dates-box{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    @include media(desktop) {
   
      flex-direction: row;
      
    }
  }

  .date{
    display: flex;
    flex-direction: row;
    gap:1rem;
  
  }
  
  .box-filter{
    display: flex;
    flex-direction: column;
  }

  .content{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    gap:2rem;

    
  }
  
}