.idProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

  &_container {
    width: 100%;
  }
}

.freetrial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;


  @include media(tablet) {
    flex-direction: row;
  }

  .message-support {
    display: flex;
    margin-top: -5rem;
    margin-left: -4rem;
    align-items: center;
    gap: 0.25rem;
    flex-direction: column;
    color: get-color(blue_p1);
    font-size: 1.2rem;
    font-weight: 600;

    @include media(tablet) {
      margin-top: -7.5rem;
      font-size: 1.5rem;

      span {
        color: get-color(lilac_p3);
        font-size: 1.5rem;
        font-weight: 600;
      }
      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: get-color(black_p2);
      }
    }
  }

  &_description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex: 1;

    span {
      color: get-color(lilac_p3);
    }
    p {
      color: get-color(black_p2);
      text-align: center;
      display: inline-block;
    }
    img {
      max-width: 15rem;
      @include media(tablet) {
        max-width: 20rem;
      }
      @include media(desktop) {
        max-width: 24rem;
      }
    }
  }

  &_contact {
    flex: 2;
    width: 100%;
    @include container;
  }

  .send {
    display: flex;
    width: 100%;
    align-items: center;
  }
}


