.idProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

  &_container {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: flex-start;

    p {
      text-align: left;
      font-size: 0.9rem;
      display: flex;
      color: rgba(get-color(grey2_s4), 1);
      // align-items: center;

    }

    svg {
      height: 1rem;
      width: 1rem;
      text-align: left;
      margin-right: 0.25rem;

      path {
        fill: rgba(get-color(grey2_s4), 1)
      }

    }


    .status {

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-left: 1px solid rgba(get-color(forms_s6), 1);
      padding-left: 0.5rem;

      p {
        align-items: center;

      }


    }



  }
}

.freetrial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;

  @include media(tablet) {
    flex-direction: row;
  }

  .message-support {
    display: flex;
    margin-top: -5rem;
    margin-left: -4rem;
    align-items: center;
    gap: 0.25rem;
    flex-direction: column;
    color: get-color(blue_p1);
    font-size: 1.2rem;
    font-weight: 600;

    @include media(tablet) {
      margin-top: -7.5rem;
      font-size: 1.5rem;

      span {
        color: get-color(lilac_p3);
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: get-color(black_p2);
      }
    }
  }

  &_description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex: 1;

    span {
      color: get-color(lilac_p3);
    }

    p {
      color: get-color(black_p2);
      text-align: center;
      display: inline-block;
    }

    img {
      max-width: 15rem;

      @include media(tablet) {
        max-width: 20rem;
      }

      @include media(desktop) {
        max-width: 24rem;
      }
    }
  }

  &_contact {
    flex: 2;
    width: 100%;
    @include container;
  }

  .send {
    display: flex;
    width: 100%;
    align-items: center;
  }
}