.insigth {
  @include home-container;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  // padding-top: 8rem;

  .navegation {
    width: max-content;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    a {
      color: rgba(get-color(grey2_s4), 1);
    }

    @include media(tablet) {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }

  &-suggestions-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;

    @include media(tablet) {
      flex-direction: row;
    }
  }

  &-post {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 1rem;

    .image--post {
      width: 100%;
      position: relative;
      border-radius: brd(2);
      height: 40vh;

      @include media(tablet) {
        height: max-content;
      }

      @include media(tablet) {
        height: 65vh;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: brd(2);
      }

      .box-title {
        position: absolute;
        display: flex;
        bottom: 0;
        right: 0;
        bottom: -0.5rem;
        left: 0%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 99.99%;
        padding: 0rem 1rem 0rem 1rem;
        background-color: rgba(get-color(black_p2), 0.1);
        backdrop-filter: blur(8px);
        border-radius: 0 0 brd(2) brd(2);
        padding-top: 0rem;

        @include media(desktop) {
          bottom: -0.25rem;
          width: 99.75%;
        }

        @include media(extradesktop) {
          bottom: 0rem;
          width: 99.5%;
        }

        .gradient {
          background-color: rgba(get-color(black_p2), 1);
          padding: 0.25rem 0.5rem;
          border-radius: 0px 0px brd(1) brd(1);
          font-size: medium;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          margin-top: 0rem;

          svg {
            path {
              fill: rgba(get-color(white_s1), 0.5);
            }
          }
        }

        h1 {
          color: rgba(get-color(white_s1), 1);
          font-size: 2.25em;
        }

        .date {
          color: rgba(get-color(white_s1), 0.8);
          font-size: smaller;
        }
      }
    }

    h3 {
      margin-top: 1.8rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-bottom: 30px;
      font-weight: 700;
      max-width: auto;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2;
      position: relative;
      display: flex;
      justify-content: center;
      align-self: center;
      text-align: center;

      &::after {
        position: absolute;
        content: ' ';
        background: rgba(get-color(grey1_s3), 0.9);
        display: block;
        width: 10rem;
        bottom: -10%;
        right: 40%;
        height: 5px;
        margin: 1.5em 0 0;
      }
    }

    a {
      display: inline-block;
      color: rgba(get-color(black_p2), 1);
      font-weight: 400;
      text-decoration: none;
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: rgba(get-color(blue_p1), 0.6);
      text-underline-offset: 0.3rem;
      transition: color 0.3s ease-in-out;

      &:focus,
      :hover {
        color: rgba(get-color(t2-ligthBlue), 1);
      }
    }

    p {
      color: rgba(get-color(black_p2), 0.8);
      color: #575656;
      margin-bottom: 1rem;
      line-height: 1.5;
      text-align: justify;
      font-weight: 300;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      unicode-bidi: isolate;
      letter-spacing: 0.01em; /* o incluso 0 */
    }

    img {
      width: 100%;
    }

    //  img,p,h1,h2,blockquote{
    //   view-timeline-name: --revealing-image;
    //   view-timeline-axis: block;
    //   animation-name: show;
    //   animation-timing-function: ease;
    //   animation-fill-mode: both;
    //   animation-timeline: --revealing-image;
    //   animation-range: entry 5% cover 50%;
    // }

    blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      font-size: larger;
      position: relative;
      border: none;
      font-weight: 700;
      font-style: italic;
      line-height: 26px;
      padding: 0 0 0 40px;
      margin: 35px 0 35px 130px;

      &::before {
        content: '“'; // O «
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: rgba(get-color(blue_p1), 1);
        font-weight: 400;
        font-style: normal;
        position: absolute;
        top: -10%;
        left: 1%;
      }
    }
  }

  &-suggestions {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    @include media(tablet) {
      position: sticky;

      height: 110vh;
      top: 1%;
    }

    .box-autor {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      img {
        width: 5rem;
        background-color: rgba(get-color(grey2_s4), 1);
        border-radius: brd(f);
        height: 5rem;
        filter: contrast(1);
      }

      .dates-autor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;

        p {
          font-weight: 500;
          line-height: 110%;
        }

        span {
          color: rgba(get-color(grey2_s4), 0.9);
          font-size: small;
          // font-style: italic;
        }
      }
    }

    .box-shared {
      background-image: src;
      background-image: url('../../../public/img/post/share.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 1rem;

      flex-direction: column;
      border-radius: brd(1);
      gap: 1rem;

      .share-buttons {
        display: flex;

        gap: 1rem;

        flex-direction: row;
        align-items: center;

        svg {
          height: 1.5rem;

          path {
            fill: rgba(get-color(black_p2), 1);
          }
        }

        button {
          border-style: none;
          background-color: transparent;

          &:hover {
            background-color: rgba(get-color(grey1_s3), 0.3);
            color: rgba(get-color(blue_p1), 0.9);
          }
        }
      }
    }

    .box-list-post {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        a {
          list-style: none;
          text-align: start;
          color: rgba(get-color(grey2_s4), 1);
          padding-left: 0.5rem;
          position: relative;

          &:hover {
            color: rgba(get-color(black_p2), 1);
            font-weight: 500;

            &::after {
              content: '';
              position: absolute;
              width: 0.25rem;
              height: 100%;
              top: 0;
              left: 0%;
              background-image: linear-gradient(180deg, #d037d8, #6640ff 75%, #0ea4ca);

              animation: bolt 1s infinite; // Aplica la animación
            }
          }
        }
      }

      .active-post {
        a {
          color: rgba(get-color(blue_p1), 1) !important;
          position: relative;
          // border-left: 2px solid rgba(get-color(blue_p1), 0.9);

          &::after {
            content: '';
            position: absolute;
            width: 0.25rem;
            height: 100%;
            top: 0;
            left: 0%;
            background-color: rgba(get-color(blue_p1), 1);
          }
        }
      }
    }
  }
}

// Define la animación "bolt"
@keyframes bolt {
  0% {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(1); // Escala al 100%
  }

  100% {
    transform: scaleY(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Desliza desde abajo */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Vuelve a la posición original */
  }
}

p {
  opacity: 0;
  /* Comienza invisible */
  transform: translateY(20px);
  /* Desplaza los párrafos hacia abajo */
  animation: fadeInUp 0.6s ease-out forwards;
  /* Aplica la animación */
  animation-delay: 0.3s;
  /* Retraso para que se vea secuencial */
}

p:nth-child(odd) {
  animation-delay: 0.5s;
  /* Retraso diferente para párrafos impares */
}

p:nth-child(even) {
  animation-delay: 0.8s;
  /* Retraso diferente para párrafos pares */
}
