.layoutLogin {
  display: flex;
  flex-direction: row;
  height: 105vh;
  width: 100%;

  &_image {
    display: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    @include media(tablet) {
      width: 40%;
    }
    @include media(desktop) {
      width: 50%;
    }
  }

  @include media(tablet) {
    background-image: url("../../../public/img/register.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
    // background-size: 200vh;
    
  }

  @include media(desktop) {
    background-size: 250vh;
  
  }

  @include media(extradesktop) {
    background-size: 250vh;
   
  }



  &_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    margin: 1rem;

    @include media(tablet) {
      width: 70%;
    }

    @include media(desktop) {
      width: 50%;
      background-color: transparent;
      
    }
 
    @include media(extradesktop) {
      width: 45%;
      
    }

    .navRegister {
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      @include media(tablet) {
        padding: 0rem 2rem ;
        
      }
    

      &_head {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .container-lang{
          width: 100%;
        
        
          justify-content: flex-end;
        }
      }

      &_logo {
      
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
          height: 100px;
          width: auto;
        }
      }

      

      &_question {
        display: flex;
        justify-content: center;
        align-content: flex-end;
        gap: 0.25em;
        padding-bottom: 1rem;

        li {
          list-style-type: none;
        }

        .Question {
          // background-color: aqua;
          color: get-color(grey2_s4);
        }

        .link {
          a {
            color: get-color(blue_p1);
            font-weight: bold;
          }
        }
      }
    }
  }
}

.layout-children {
  width: 100%;
  background-color: get-color(white_s1);
  margin: 1rem 2rem;
  border-radius: brd(2);
}

.navLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2rem;
}

.iforget {
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  color: get-color(grey2_s4);
  margin-bottom: 1em;
}

.container-lang {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.textAnimation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: 2rem;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding: 2rem;
  }

  .text {
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    color: get-color(bg-cles);
    font-size: 2rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: brd(2);
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    backdrop-filter: blur(3px);
  }

  .typing {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    color: get-color(lilac_p3);
    white-space: wrap;
    animation: typingAnimation 1s steps(5, end);
  }

  @keyframes typingAnimation {
    from {
      width: 0;
    }
  }
}
