.layoutProducts {
  /*background-color: get-color(bg-cles);*/
  display: flex;
  flex-direction: row;
  height: 200vh;
  width: 100vw;

  background-color: get-color(bg-cles);
  // background-image: src;
  // background-image: url("../../../public/img/fondo.png");
  // background-repeat: no-repeat;

  @include media(tablet) {
    height: 120vh;
    width: 100%;
    background-size: 120%, auto;
  }

  .menu {
    max-width: 13rem;
    background-color: get-color(pink_s5);
    border-radius: 0px 0px 0px 0px;
    align-items: center;
    height: fit-content;
    padding-bottom: 1.5rem;
    position: fixed;
    z-index: 6;
    height: 120vh;
    gap: 1rem;

    @include media(tablet) {
      background-color: get-color(white_s1);
      backdrop-filter: blur(20px);
      justify-content:center;
      height: 100%;
      flex-direction: column;
      display: flex;
    }

    &_Account {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      border-bottom: 1px solid get-color(grey1_s3);
      padding-bottom: 1rem;
      padding-top: 2rem;

      p {
        font-size: small;
      }
      .box-correo {
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;

        .company {
          color: get-color(blue_p1);
          font-weight: 600px;
          font-size: 0.8rem;
        }
      }

      .img_logo {
        width: 6rem;

        // border-radius: brd(f);
      }

      .imgPerfil {
        display: flex;
        flex-direction: row;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &_logo {
          width: 100%;
        }

        &_close {
          background-color: get-color(white_s1);
          position: absolute;
          padding: 0.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          width: 30px;
          border-radius: brd(f);
          z-index: 10;
          border-style: none;
          right: -34px;
        }
      }

      .box-name {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0.25rem;
        padding: 0.5rem;

        &_person {
          background-color: get-color(blue_p1);
          border-radius: brd(1);
          padding: 0.5rem;

          flex-shrink: 0;
          display: flex;
          justify-content: center;
        }
        &_name {
          p {
            color: get-color(t2-ligthBlue);
            font-weight: 500;
          }
          span {
            color: get-color(grey2_s4);
            font-size: small;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 120px; // Ancho máximo en el que deseas truncar el texto
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
          }
        }
      }
    }

    &_nav {
      padding: 1rem 0em 1rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include media(tablet) {
        gap: 1rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        justify-content: center;

        li {
          display: flex;
          padding: 0.5rem;
          flex-direction: row;
          align-items: flex-start;
          color: get-color(grey2_s4);
          position: relative;
          font-size: small;

          svg {
            width: 20px;
            height: 20px;
            path {
              fill: get-color(grey2_s4);
            }
          }
          a {
            display: flex;
            gap: 0.5rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: get-color(grey2_s4);
            font-weight: 600;
            text-decoration: none;
          }
          h5 {
            color: get-color(grey2_s4);
            font-weight: 500;
          }

          &:focus,
          &:hover,
          .active {
            color: get-color(blue_p1);

            border-radius: brd(1);
            font-weight: 800;

            h5 {
              color: get-color(blue_p1);
              font-weight: 700;
            }

            svg {
              path {
                fill: get-color(blue_p1);
              }
            }
          }
        }
      }
    }

    &_profile {
      width: 100%;
      display: flex;
      margin-top: 4rem;
     
      flex-direction: column;
      gap: 0.25rem;
 
     
      // padding: 0rem 0rem 0rem 0rem ;
      border-top: 1px solid get-color(grey1_s3);

      .img_perfil {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      
      
        img {
          border-radius: brd(f);
          width: 40px;
          height: 40px;
        }

        span {
          color: get-color(t1-blue);
        }
      }

      .singout {
        width: 100%;
       
       
       
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;


        
      }
    }

    &_navIcons {
      // padding: 1rem 0rem;
      // background-color: aqua;
      // border-top: 1px solid get-color(forms_s6);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      li {
        list-style: none;
      }
      // height: 10vh;
      // //  background-color: get-color(bg-cles);
      // background-image: src;
      // background-image: url("../../../public/img/debajo.png");
      // background-repeat: no-repeat;
      // background-size: cover, 10vh;
    }

    .active {
      color: get-color(blue_p1);

      border-radius: brd(1);

      h5 {
        color: get-color(t1-blue);

        font-weight: 700;
      }

      svg {
        path {
          fill: get-color(blue_p1);
        }
      }

      &:before {
        content: "";

        position: absolute;
        top: 0;
        right: 0px;
        width: 3px; /* Cambia este valor según el ancho del borde que desees */
        height: 100%;
        border-radius: brd(2);
        background-color: get-color(blue_p1); /* Cambia este color al que desees */
      }
    }

    &_logo {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 1em;
      img {
        width: 70px;
      }
    }

    &.menu-close {
      // background-color: #ff6b6b;
      max-width: 100px;
      nav {
        padding: 1rem 1rem;
        li {
          h5 {
            display: none;
          }
        }
      }

      .username {
        display: none;
      }

      .box-name_name {
        display: none;
      }

      h5 {
        display: none;
        font-weight: 300;
      }

      .imgPerfil {
        button {
          right: -30px;
        }
      }

      .img_perfil {
        align-items: center;
        justify-content: center;
        span {
          display: none;
        }
      }
      .languaje {
        width: 10px;
      }

      .lang {
        display: flex;
        flex-direction: column;
        .languajes{
          flex-direction: column;
        }
      }

      .btn_icons {
        border: 1px solid get-color(white_s1);
      }

      .imgPerfil {
        img {
          width: 60px;
        }
      }
    }

    &_children {
      width: 100%;
      // padding: 0.5rem;
      gap: 1em;

      .childrenTilte {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: get-color(blue_p1);
        color: get-color(white_s1);
        position: fixed;
        z-index: 5;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        @include media(tablet) {
          display: none;
          // justify-content:flex-start;
          // width: 100%;
          // padding: 0rem 1rem;
          // backdrop-filter: blur(20px);
          // background-color: rgba(255, 255, 255, 0.5);
          // width: 100%;
        }

        p {
          span {
            color: get-color(blue_p1);
          }
        }
      }

      .welcomeSpan {
        display: none;
        @include media(desktop) {
          display: block;
        }
      }

      .logo-oscuro {
        display: block;
        img {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @include media(tablet) {
          display: none;
        }
      }

      .titleMenu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        justify-content: flex-end;
        h3 {
          color: get-color(white_s1);
          @include media(tablet) {
            color: get-color(black_p2);
          }
        }

        .company {
          display: block;
          font-size: 0.8rem;
          text-align: start;

          @include media(tablet) {
            display: none;
          }
        }
      }

      .children {
        padding: 6rem 2rem;
        @include media(tablet) {
          padding: 1rem 2rem;
        }
      }
    }
  }
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  // position: fixed;
  // z-index: 999;

  .hamburgerMenu {
    display: block;

    button {
      background-color: get-color(blue_p1);
      color: get-color(white_s1);
    }

    @include media(tablet) {
      display: none;
    }
  }

  @include media(tablet) {
    justify-content: flex-end;
  }
  @include media(desktop) {
    justify-content: flex-end;
  }

  ul {
    align-items: flex-start;

    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  li {
    background-color: transparent;
  }
}

.perfil-select {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  max-width: 33em;
  padding: 0 1rem;

  @include media(tablet) {
    padding: 0 1rem 0 0;
  }

  select {
    border: 1px solid transparent;
    background-color: get-color(white_s1);
    border-radius: brd(2);
    padding: 0.5em;
    font-weight: 550;
    font-size: 0.8rem;
    border: none;

    option {
      appearance: none;
      font-size: 1rem;
      color: get-color(grey2_s4);
      padding: 1rem;
    }

    &:focus {
      outline: none;
      background-color: get-color(white_s1);
      box-shadow: bsh(1);
    }
    @include media(tablet) {
      width: auto;
      margin: 1em 0;
      color: get-color(blue_p1);
      background-color: transparent;
      // box-shadow: bsh(1);
    }
  }
}

.container-lang-destok {
  display: none;

  @include media(tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
  }
}

.container-lang-movil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  @include media(tablet) {
    display: none;
  }
}

.container-lang-hambuerger {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(tablet) {
    display: none;
  }
  button {
    color: get-color(forms_s6);
  }

  .btn_circle {
    background-color: transparent;
    display: none;
  }

  .lang_active {
    color: get-color(white_s1);
    border-bottom: 1px solid get-color(white_s1);
  }
}

.languajes {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.25rem;

  button {
    background-color: transparent;
    border-style: none;
    font-size: small;
    display: flex;
  }

  a {
    color: get-color(grey2_s4);
    padding: 0.25rem 0rem;
  }
}

.lang_active {
  color: get-color(blue_p1);
  border-bottom: 1px solid get-color(lilac_p3) !important;
}
