/*desktop
tablet
mobile
border: bd(thin);
@include fzBody(normal);
border-radius: brd(1);
@include fzBody(small);
  list-style-type: none;
*/

.layoutLogin {
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  height: 120vh;

   
  

  &_image {
    @include media(tablet) {
      width: 50%;
    }
  }

  @include media(tablet) {
    background-image: url("../../../public/img/register.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 130vh;
    gap:1em;
  }

  section {
    background-color: get-color(white_s1);
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media(tablet) {
      padding: 1em;
      width: 50%;
    }

    .navRegister {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-around;
      justify-self: unset;
      align-items: center;
      // flex-grow: 0.1;

      // img{
      //   width: 4rem;
      //   height: 4rem;
      // }
      img{
        height: 70px;
        width: auto;
      }

      ul {
        display: flex;
        align-content: flex-end;
        gap: 0.2em;

        li {
          list-style-type: none;
        }

        .Question {
          // background-color: aqua;
          color: get-color(grey2_s4);
        }

        .link {
          a {
            color: get-color(blue_p1);
            font-weight: bold;
          }
        }
      }
    }

   
    }
  }


 .navLogin {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

    }

      .iforget {
        width: 100%;
        align-self: flex-end;
        justify-content: flex-end;
        color: get-color(grey2_s4);
        margin-bottom: 1em;
      }