.layoutProducts {
  /*background-color: get-color(bg-cles);*/
  display: flex;
  flex-direction: row;
  height: 200vh;
  width: 100vw;

  background-color: get-color(bg-cles);
  
  @include media(tablet) {
    height: 120vh;
    width: 100%;
    background-size: 120%, auto;
  }

  .menu {
    z-index: 3;
    top: 80px;
    right: -4px;
    height: fit-content;
    border-radius: brd(1);
    visibility: visible;
    background-color: get-color(white_s1);
    box-shadow: bsh(2);
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 70%;
    height: fit-content;

    @include media(tablet) {
      padding-top: 0rem;
      z-index: 6;
      left: 0;
      height: 100vh;
      z-index: 0;
      top: 0;
      margin-left: 0;
      max-width: 14rem;
      border-radius: 0;
      box-shadow: none;
      align-items: center;
      position: fixed;
      border-style: none;
      background-color: get-color(white_s1);
      backdrop-filter: blur(20px);
      justify-content: space-around;
      flex-direction: column;
      display: flex;
      height: 100svh;
    }

    &_Account {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0rem 1.5rem;
      position: relative;
      border-bottom: 1px solid get-color(grey1_s3);
      padding-bottom: 0.5rem;
      @include media(tablet) {
        gap: 0.25rem;
      }

      p {
        font-size: small;
      }

      .box-correo {
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;

        .company {
          color: get-color(blue_p1);
          font-weight: 600px;
          font-size: 0.8rem;
        }
      }

      .imgPerfil {
        display: none;

        &_logo {
          img {
            height: 100px;
            width: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-left: -2.4rem;
          }
        }

        @include media(tablet) {
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }

    &_nav {
      padding: 1rem 0em 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      overflow-y: auto;
      @include scrollTeme;
      &::-webkit-scrollbar {
        width: 0.14rem;
      }

      .list-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
          display: flex;
          padding: 0.5rem 0rem 0.5rem 0rem;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          color: get-color(grey2_s4);
          position: relative;
          font-size: small;

          svg {
            width: 20px;
            height: 20px;
            path {
              fill: get-color(grey2_s4);
            }
          }

          button {
            background-color: transparent;
            border-style: none;
          }

          a,
          button {
            display: flex;
            gap: 0.5rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: get-color(grey2_s4);
            font-weight: 600;

            text-decoration: none;
            &:focus,
            &:hover {
              h5 {
                color: get-color(blue_p1);
                font-weight: 700;
              }

              svg {
                path {
                  fill: get-color(blue_p1);
                }
              }
            }
          }

          h5 {
            color: get-color(grey2_s4);
            font-weight: 500;
          }
        }
      }

      .submenu {
        padding: 0.5rem 0rem 1rem 0.5rem;
        gap: 0rem;

        h5 {
          font-size: 13.5px;
        }

        .pellet {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: brd(f);
          border: 2px solid get-color(white_s1);
          background-color: get-color(forms_s6);
          position: relative;
        }

        li {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          min-width: 11.8rem;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            border-right: 2px solid get-color(forms_s6);
            width: 2px;
            height: 100%;
            left: 4px;
            height: -50%;
            z-index: -1;
          }

          &:first-child {
            &::after {
              position: absolute;
              content: "";
              border-right: 2px solid get-color(forms_s6);
              width: 2px;
              right: 4px;
              height: 50%;
              bottom: 0;
              z-index: -4;
            }
          }

          &:last-child {
            &::after {
              position: absolute;
              content: "";
              border-right: 2px solid get-color(forms_s6);
              width: 2px;
              right: 4px;
              height: 50%;
              top: -5px;
              z-index: -4;
            }
          }
        }
      }

      .img-down {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        right: 0;

        svg {
          width: 15px !important;
          height: 10px;
        }
      }
    }

    &_profile {
      border-top: 1px solid get-color(grey1_s3);
      overflow-y: initial;
    }

    .box-name {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 0.25rem;

      width: 100%;

      &_person {
        background-color: get-color(blue_p1);
        border-radius: brd(1);
        padding: 0.5rem;

        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
      &_name {
        p {
          color: get-color(t2-ligthBlue);
          font-weight: 500;
         
        }
        span {
          color: get-color(grey2_s4);
          font-size: small;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 130px; // Ancho máximo en el que deseas truncar el texto
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
        }
      }
    }

    .action-open-close {
      display: none;
      @include media(tablet) {
        background-color: get-color(white_s1);
        border-style: none;
        position: absolute;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: brd(1);
        z-index: 14;
        border: 1px solid get-color(grey1_s3);
        right: 1px;
        bottom: -15px;

        svg {
          stroke: get-color(blue_p1);
          width: 3rem;
        }
      }
    }

    .active {
      color: get-color(blue_p1);

      border-radius: brd(1);

      h5 {
        color: get-color(blue_p1) !important;

        font-weight: 700 !important;
      }

      svg {
        path {
          fill: get-color(blue_p1) !important;
        }
      }

      &:before {
        display: none;

        @include media(tablet) {
          display: block;
          content: "";
          position: absolute;
          top: 6px;
          right: 0px;
          width: 4px;
          height: 71%;
          display: flex;
          align-items: center;
          border-radius: brd(2);
          background-color: get-color(blue_p1); /* Cambia este color al que desees */
        }
      }
    }

    &_logo {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 1em;
      img {
        width: 50px;
      }
    }

    &.menu-close {
      @include media(tablet) {
        margin-left: 0rem;
        max-width: 92px;
        height: fit-content;
        justify-content: space-between;
        gap: 1rem;

        height: 100vh;

        .menu_Account {
          width: 100%;
          margin: 0rem;
          gap: 1rem;
          padding-bottom: 1rem;
        }

        .activeIcon {
          svg {
            path {
              fill: get-color(blue_p1) !important;
            }
          }
        }

        .menu_nav {
          padding: 0.5rem 0rem;
          align-items: center;
          gap: 1rem;
          overflow-y: initial;
          position: relative;

          li {
            justify-content: center;

            &:hover,
            &:active {
              // .submenu {
              //   display: block;
              //   position: absolute;
              //   z-index: 40;
              //   width: max-content;
              //   left: 100%;
              //   top: 0px;
              //   background-color: get-color(white_s1);
              //   border-radius: brd(2);
              //   box-shadow: bsh(2);
              //   justify-content: flex-start;
              //   margin-left: 0.2rem;

              //   h5 {
              //     display: block;
              //   }

              //   .list-content {
              //     display: block;
              //     gap: 1rem;
              //     max-width: auto;

              //     li {
              //       display: flex;
              //       // padding: 0.5rem;
              //       gap: 0.5rem;

              //       justify-content: flex-start;
              //       align-items: center;
              //     }
              //   }
              // }
            }

            h5 {
              display: none;
            }
          }
        }

        .submenu {
          max-width: 1.1rem;
          padding: 1rem 0rem 0rem 0rem;

          .list-content {
            .activeIcon {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            li {
              flex-direction: column;
              // background-color: aqua;
              justify-content: flex-start;
              max-width: 2rem;
              flex-direction: column;
              align-items: flex-start;
              // gap: 0.25rem;
              display: flex;
              // justify-content: flex-start;
            }

            .active {
              flex-direction: column;
              align-items: flex-start;
              .pellet {
                background-color: get-color(blue_p1);
              }

              &::before {
                display: none;
              }
            }

            h5 {
              max-width: 3em;
              background-color: get-color(white_s1);
              // margin-left: -0.5rem;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .active {
          &::before {
            //  background-color: get-color(lilac_p3);
            right: -36px;
          }
        }

        .img-down {
          display: none;
        }

        .username {
          display: none;
        }

        .box-name {
          justify-content: center;
        }

        .box-name_name {
          display: none;
        }

        .action-open-close {
          left: 30px;
          border: 1px solid get-color(lilac_p3);
        }

        .imgPerfil_logo {
          img {
            height: 90px;
          }
        }

        .fondoPerfil {
          display: none;
        }

        .img_perfil {
          display: none;

          span {
            display: none;
          }
        }

        .imgPerfil {
          img {
            width: auto;
            padding: 1.5rem;
            margin-left: 0rem;
          }
        }
      }
    }

    &_children {
      gap: 1em;

      flex: 1;

      .childrenTilte {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: get-color(white_s1);
        position: fixed;
        z-index: 3;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;
        padding: 0rem 2rem;

        @include media(tablet) {
          display: none;
        }

        p {
          span {
            color: get-color(blue_p1);
          }
        }

        .menu-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          // position: fixed;
          // z-index: 999;

          .hamburgerMenu {
            display: block;

            .btn_crud {
              color: get-color(t1-blue);
              padding-right: 0rem;

              svg {
                height: 30px;
                width: 30px;
                path {
                  stroke: get-color(t1-blue);
                }
              }
            }

            @include media(tablet) {
              display: none;
            }
          }

          @include media(tablet) {
            justify-content: flex-end;
          }
          @include media(desktop) {
            justify-content: flex-end;
          }

          ul {
            align-items: flex-start;

            display: flex;
            flex-direction: row;
            gap: 0.5em;
          }

          li {
            background-color: transparent;
          }
        }
      }

      .welcomeSpan {
        display: none;
        @include media(desktop) {
          display: block;
        }
      }

      .logo-oscuro {
        display: block;
        img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5rem;
          border-radius: brd(2);
        }

        @include media(tablet) {
          display: none;
        }
      }

      .titleMenu {
        display: none;

        @include media(tablet) {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;

          justify-content: flex-end;
          h3 {
            color: get-color(white_s1);
            @include media(tablet) {
              color: get-color(black_p2);
            }
          }
        }

        .company {
          display: block;
          font-size: 0.8rem;
          text-align: start;

          @include media(tablet) {
            display: none;
          }
        }
      }

      .children {
        padding: 6rem 2rem;
        background-color: get-color(white_s1);
        height: auto;
        width: 100%;

        @include media(tablet) {
          padding: 2rem;
          background-color: get-color(bg-cles);
        }
      }
    }
  }
}

.lang-box {
  display: flex;
  width: 100%;

  button{
    color:get-color(grey2_s4);
  }


  .lang_active{
    color:get-color(blue_p1);
  }



  svg{
    path{
      fill: get-color(grey2_s4)
    }
  
  }

  @include media(tablet) {
    display: none;
  }
}

.children_after {
  padding: 6rem 2rem;
  background-color: get-color(bg-cles);
  height: auto;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; /* Altura del área anterior al menú */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris con opacidad */
    z-index: 1; /* Colócalo detrás del menú */
  }
}

.fondoPerfil {
  //  background-image: src;
 
  // background-size: 6rem;
  background-color: rgba(get-color(t2-ligthBlue), 0.2) !important;
  // border-radius: brd(f) !important;

  &_color {
    p {
      color: get-color(grey2_s4) !important;
    }
  }

  svg {
    path {
      fill: get-color(t2-ligthBlue);
    }
  }
}

.perfil-select {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  max-width: 33em;
  padding: 0 1rem;

  @include media(tablet) {
    padding: 0 1rem 0 0;
  }

  select {
    border: 1px solid transparent;
    background-color: get-color(white_s1);
    border-radius: brd(2);
    padding: 0.5em;
    font-weight: 550;
    font-size: 0.8rem;
    border: none;

    option {
      appearance: none;
      font-size: 1rem;
      color: get-color(grey2_s4);
      padding: 1rem;
    }

    &:focus {
      outline: none;
      background-color: get-color(white_s1);
      box-shadow: bsh(1);
    }
    @include media(tablet) {
      width: auto;
      margin: 1em 0;
      color: get-color(blue_p1);
      background-color: transparent;
      // box-shadow: bsh(1);
    }
  }
}

.container-lang-hambuerger {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(tablet) {
    display: none;
  }
  button {
    color: get-color(forms_s6);
  }

  .btn_circle {
    background-color: transparent;
    display: none;
  }

  .lang_active {
    color: get-color(white_s1);
    border-bottom: 1px solid get-color(white_s1);
  }
}

.languajes {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.25rem;

  button {
    background-color: transparent;
    border-style: none;
    font-size: small;
    display: flex;
  }

  a {
    color: get-color(grey2_s4);
    padding: 0.25rem 0rem;
  }
}

.lang_active {
  color: get-color(blue_p1);
  border-bottom: 1px solid get-color(lilac_p3) !important;
}
