/*desktop
tablet
mobile
border: bd(thin);
@include fzBody(normal);
border-radius: brd(1);
@include fzBody(small);
  list-style-type: none;
*/

.layoutLogin {
  display: flex;
  flex-direction: row;

  height: 100vh;

  

  &_image {
    display: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    @include media(tablet) {
      width: 30%;
      
    }
    @include media(desktop) {
      width: 50%;
      
    }
  }

  @include media(tablet) {
    background-image: url("../../../public/img/register.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: 130vh;
  
  }
  @include media(desktop) {
    background-size: 250vh;
    width: 100%;
  }

  &_form {
    
    display: flex;
    
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    // padding: 1em;
    margin: 1rem;
    @include media(tablet) {
    width: 60%;
   

     
    }
    @include media(desktop) {
      width: 40%;
      background-color: transparent;
      
      }

    .navRegister {
     
      display: flex;
      justify-content: space-around;
      justify-self: unset;
      align-items: center;
     
      &_logo{
        padding: 0rem 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
      }
      
      img {
        height: 200px;
        width: auto;
      }

      ul {
        display: flex;
        align-content: flex-end;
        gap: 0.2em;

        li {
          list-style-type: none;
        }

        .Question {
          // background-color: aqua;
          color: get-color(grey2_s4);
        }

        .link {
          a {
            color: get-color(blue_p1);
            font-weight: bold;
          }
        }
      }
    }
  }
}


.layout-children{
  width: 100%;
  background-color: get-color(white_s1);
  padding: 0.5rem;
  margin: 1rem 2rem;
  border-radius: brd(2);
}

.navLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2rem;
}

.iforget {
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  color: get-color(grey2_s4);
  margin-bottom: 1em;
}

.container-lang {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
 
  
}

