.products {
  // background-color: aqua;
  // margin: 0em 1em 0 0;


  &_filterSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1em;
    gap: 1em;
   

    @include media(tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
      flex-wrap: wrap;
    justify-content: flex-start;
    gap:1em;
  ul{
    display: grid;
      gap: 1em;
      justify-content: center;
      @include media(tablet) {
         
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(desktop) {
      // gap: 0.5em;
        
      grid-template-columns: repeat(3, 1fr);
  }

    }

 

  }

 
}

.searchButton {
  display: flex;
  // margin-bottom: 1rem;
  align-items: center;
  align-content: center;
  border: 1px solid get-color(forms_s6);
  border-radius: brd(2);
  padding-right: 1rem;
  max-width: 300px;
  background-color: get-color(white_s1);
  height: 2.5em;

  input {
    // padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    height: 1.5em;

    color: get-color(blue_p1);
    font-weight: 500;
    border-style: none;
    padding: 1em;
  }

  button {
    border-style: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    svg {
      color: get-color(grey1_s3);
      pointer-events: none;
    }
  }
}

.filterButtons {
  // margin-bottom: 1rem;
  display: flex;
  align-items: center;
  

  button {
    padding: 0.5rem;
    border-style: none;
    border-radius: brd(1);
    background-color: get-color(white_s1);
    color: get-color(grey1_s3);
    margin-right: 0.5rem;
    cursor: pointer;
    width: 80px;
    font-size: 0.8rem;
    height: 3em;
    border: 0.3px solid get-color(forms_s6);
    @include media(tablet) {
      width: 100px;
      font-size: 1rem;
    height: 2.5em;

     
    }

    &.active {
      background-color: get-color(black_p2);
      color: get-color(white_s1);
    }
  }
}



.card {
  display: flex;
  gap: 0.5em;
  background-color: get-color(white_s1);
  flex-direction: column;
  max-width: 20rem;
  padding: 1em 1em;
  box-shadow:bsh(2);
  border-radius: brd(2);

  @include media(tablet) {
    width: auto;

    
  }

  div{
    display: flex;
    justify-content: row;
    justify-content: center;
    // width: 100%;
    padding: 0 1em;
    gap:1em;

    &:first-child {
      /* Estilos para el primer div */
     
      span{
        background-color: get-color(forms_s6);
              padding: 0.5em 0.8em;
              color:get-color(grey2_s4);
        font-size: 1.2em;
        border-radius: brd(2);
     
    // border-top-left-radius: 10px;
    // border-bottom-right-radius: 40px;
      }
      a{
        display: flex;
        width:190px;
        align-items: center;
        
      }

    }


    &:nth-child(2) {
   
      display: flex;
      align-items: center;
      display: flex;
      justify-content:space-between;
      span {
        display: flex;
        gap:0.25em;
        color:get-color(grey1_s3);
        font-size: small;

      }

      svg {
        font-size: medium;
      }
      
     
    }
    
    &:nth-child(3) {
      /* Estilos para el tercer div */
      // background-color: aqua;
      color:get-color(grey1_s3);
      font-size: medium;
    }

    &:nth-child(4) {
      /* Estilos para el tercer div */
      // background-color: aqua;
      display: flex;
      justify-content:space-between;
      align-items: center;
      // background-color: #8cf3ea;

      a {
        color:get-color(blue_p1);
        display: flex;
        align-items: center;
      }
      button {
        margin-top: 0;
        padding: 0.5em 1em;
        width: 8rem;
           
      }
     
 

    }
  

  }

  


}





.limited-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}



.earring{
  div {
    &:first-child{
      span {
        background: linear-gradient(180deg, #1EAAF1 6.13%, #3C2CD1 90.51%);
        color:get-color(white_s1);
      }
      
    }
  
    &:nth-child(2){
      p {
       color:get-color(blue_p1);
       font-weight: 600;
      }
      
    }
  }
 
  
  }


.configured{

  div{
    &:first-child{
      span {
    color:get-color(white_s1);
  color:get-color(t6-green2);

  background-image: radial-gradient(circle at -20.44% 43.84%, #bbeebb 0, #b3efc1 12.5%, #abf1c7 25%, #a4f1ce 37.5%, #9df2d5 50%, #96f2dc 62.5%, #91f3e3 75%, #8cf3ea 87.5%, #88f3f1 100%);


      }

      
    }
  
    &:nth-child(2){
      p {
       color:get-color(t6-green2);
       font-weight: 600;
    
      }
      
    }

  }

  
}



