.profilestart {
  height: 100vh;
  background-image: src;
  background-image: url("../../../public/img/profilestart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80vw;
  padding: 2em 1em;
  display: flex;
  flex-direction: row;
  @include media(tablet) {
   
    padding: 2em 8em;
  }



  .discover {
      display: none;
      @include media(tablet) {
     display: block;
     width: 5%;
       
    }

  
  }


.welcome {
  width: 100%;
  
}

h2{
  color:get-color(blue_p1)
}


  nav {
    
    display: flex;
     width: 100%;
     justify-items: center;
    align-items: center;
    justify-content:space-between;

    ul {
      text-align: center;
      padding: 1rem;
    }
    

   
    fieldset {
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: none;
      gap:1em;

  }

  }

  .formProfile{

    p{
      color:get-color(grey2_s4)
    }
 
    margin:  0.5em 0em;
    background-color: get-color(white_s1);
    padding: 2em;
    box-shadow: 0px 22.0468px 22.0468px rgba(50, 50, 71, 0.08), 0px 22.0468px 44.0937px rgba(50, 50, 71, 0.06);
    border-radius: 8.63363px;
    gap:4em;


    
  }


  .box-progress{
 
    padding: 1rem 0rem;
    
  }
  
}

.profile{
  background-color: get-color(white_s1);
  padding: 2rem;
  border-radius: brd(2);
  
  .box-action{
    display: flex;
    justify-content: flex-end;
  }

  .data-profile{

    .card-info{
      padding: 1rem 0rem;
      
      ul{
        padding: 0.5rem 0rem;
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:1rem;
        li{
          color:get-color(grey2_s4);

        }
        span{
         color: get-color(blue_p1)

        }

      }
    }

  }


  .edit-profile{
  
    

    h2{
    
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    h4{
      width: 100%;
      display:inline-block;
   
      text-align: start;
    }

    .form-container{
      display: flex;
      gap:1rem;
      flex-direction: column;
    }
  
    

    

  
  }
}




.box-forms{
  display: grid;
  grid-auto-columns: auto;
  gap:1rem;


 @include media(tablet) {
  grid-template-columns: 1fr 1fr; 
  }

    
}


.box-phone{
    
  display: flex;
  gap:1em;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .delimite-text {
        height: 3.25rem;
        color:get-color(blue_p1);
        padding-top: 0.7rem;
    
  }
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    margin-bottom: 0.35em;
  }

  .box-filter .css-1869usk-MuiFormControl-root .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    padding: 0.25rem 0.5rem 0 0.5rem;
  }


}


.companies-container{
  display: flex;
  gap:1rem;
 width: 100%;
  align-items:flex-start ;
  flex-direction: column;
  
  
  .companies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
      
    gap:1rem;
    padding: 1rem 1rem;
  }

  .box-companies{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 10rem;
    text-align: center;
    cursor: pointer;

  }
  .card {
    width: 5rem;
    height: 5rem;
     background: linear-gradient(to bottom right, #3c2cd1,#ff8d8d);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: brd(f); /* Hacer el card redondo */
 
  }
  
  .initial {
    font-size: 2.5rem;
    // font-weight: bold;
    color: get-color(white_s1);
  
    // Estilos adicionales según tus preferencias
  }

  
  
  
  
  
  
}



.selected{
  border-radius: brd(1);
  border: 2px solid get-color(lilac_p3);
  padding: 1rem;
  // background-color:get-color(pink_s5);
  // box-shadow: bsh(1);
  transition: border 0.3s ease-in-out; 
}






