
.profile{
    background-color:aquamarine;
    height:100vh;
    background-image: src;
    background-image: url('../../../public/img/profilebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw;
    
    

}