.products {
  // background-color: aqua;
  margin: 0em 1em 0 0;

  p {
    span {
      color: get-color(blue_p1);
    }
  }

  &_filterSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1em;
    gap: 1em;
   

    @include media(tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
      flex-wrap: wrap;
    justify-content: flex-start;
    gap:1em;
  ul{
    display: grid;
      gap: 1em;
      justify-content: center;
      @include media(tablet) {
         
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(desktop) {
      // gap: 0.5em;
        
      grid-template-columns: repeat(3, 1fr);
  }

    }

 

  }

 
}

.searchButton {
  display: flex;
  // margin-bottom: 1rem;
  align-items: center;
  align-content: center;
  border: 1px solid get-color(forms_s6);
  border-radius: brd(2);
  padding-right: 1rem;
  max-width: 300px;
  background-color: get-color(white_s1);
  height: 2.5em;

  input {
    // padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    height: 1.5em;

    color: get-color(blue_p1);
    font-weight: 500;
    border-style: none;
    padding: 1em;
  }

  button {
    border-style: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    svg {
      color: get-color(grey1_s3);
      pointer-events: none;
    }
  }
}

.filterButtons {
  // margin-bottom: 1rem;
  display: flex;
  align-items: center;
  

  button {
    padding: 0.5rem;
    border-style: none;
    border-radius: brd(1);
    background-color: get-color(white_s1);
    color: get-color(grey1_s3);
    margin-right: 0.5rem;
    cursor: pointer;
    width: 80px;
    font-size: 0.8rem;
    height: 3em;
    border: 0.3px solid get-color(forms_s6);
    @include media(tablet) {
      width: 100px;
      font-size: 1rem;
    height: 2.5em;

     
    }

    &.active {
      background-color: get-color(black_p2);
      color: get-color(white_s1);
    }
  }
}



.card {
  display: flex;
  gap: 0.5em;
  background-color: get-color(white_s1);
  flex-direction: column;
  max-width: 300px;
  padding: 1em 1em;
  box-shadow:bsh(2);
  border-radius: brd(2);

  @include media(desktop) {
  max-width: 350px;
  // height: 200px;
}
  div{
    display: flex;
    justify-content: row;
    // justify-content:space-around;
    justify-content: center;
    width: 100%;
    padding: 0.5em 1em;
    gap:1em;

    &:first-child {
      /* Estilos para el primer div */
     
      span{
        background-color: get-color(forms_s6);
              padding: 0.8em;
              color:get-color(grey2_s4);
        font-size: 1.2em;
        border-radius: brd(2);
      }
      a{
        display: flex;
        width:190px;
        align-items: center;
        
      }

    }


    &:nth-child(2) {
   
      display: flex;
      align-items: center;
      span {
        display: flex;
        gap:0.5em;
        color:get-color(grey2_s4)
      }
      
     
    }
    
    &:nth-child(3) {
      /* Estilos para el tercer div */
      background-color: aqua;
    }
  

  }



}





.limited-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.configured{
  &div:first-child{
    span {
      background-color: get-color(t5-green);
    }
    
  }

  &div:nth-child(2){
    svg {
     color:get-color(t5-green);
    }
    
  }
  
}

.earring{
  &div:first-child{
    span {
      background: linear-gradient(180deg, #1EAAF1 6.13%, #3C2CD1 90.51%);
    }
    
  }

  &div:nth-child(2){
    svg {
     color: linear-gradient(180deg, #1EAAF1 6.13%, #3C2CD1 90.51%);
    }
    
  }

}
