.reporting-box {
  border-radius: brd(1);
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));

  .report-content {
    width: auto;
    display: flex;
    @include container;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;

    @include media(tablet) {
      padding: 2rem 1rem;
      justify-content: flex-start;
    }

    @include media(desktop) {
      height: auto;
      padding: 2rem;
      justify-content: space-around;
    }

    @include media(extradesktop) {
      height: auto;
      justify-content: space-around;
    }

    .report {
      display: flex;
      flex-direction: row;
      @include center-container;
      padding: 1rem;
      gap: 0.8rem;
      justify-content: space-between;

      @include media(desktop) {
        padding: 0rem 1rem;
      }

      &_icon {
        border-radius: brd(f);
        @include center-container;
        align-items: center;
        justify-content: center;
        width: 4.25rem;
        height: 4.25rem;

        img {
          @include center-container;
          width: 1.6rem;
          height: auto;
        }

        svg {
          width: 1.8em;
          height: 1.8em;
        }
      }

      &_data {
        @include center-container;
        align-items: flex-start;

        flex-direction: column;

        article {
          color: get-color(grey2_s4);
          @include center-container;
        }

        p {
          color: get-color(t1-blue);
          font-size: 1rem;
        }

        svg {
          width: 0.9rem;
          height: 0.9rem;
        }
      }
    }

    .liner {
      @include media(desktop) {
        width: 0.832px;
        height: 72.35px;
        background-color: get-color(grey1_s3);
      }
    }
  }

  .green {
    .report_icon {
      background-image: linear-gradient(201deg, #d3ffe7 3.14%, #effff6 86.04%);
    }

    span {
      color: get-color(t6-green2);
    }

    svg {
      path {
        fill: get-color(t6-green2);
      }
    }
  }

  .blue {
    .report_icon {
      background-image: linear-gradient(201deg, #caf1ff 3.14%, #cdf4ff 86.04%);
    }

    span {
      color: get-color(blue_p1);
    }

    svg {
      path {
        fill: get-color(blue_p1);
      }
    }
  }

  .red {
    .report_icon {
      background-image: linear-gradient(201deg, #ffa3cf 3.14%, #ffd4f3 86.04%);
    }

    span {
      color: get-color(t3-red);
    }

    svg {
      path {
        fill: get-color(t3-red);
      }
    }
  }
}

@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.products {
  // background-color: aqua;
  // margin: 0em 1em 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_home {
    border-radius: brd(2);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    background-color: transparent;

    @include media(tablet) {
      padding: 2rem;
      background: url("../../../public/img/home.JPG") center top no-repeat, transparent;
      background-size: cover, auto; /* Ajusta el tama침o de la imagen al contenedor */
      // background-position: left bottom;
    }

    .welcome {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      h1 {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        display: inline-block;

        color: get-color(grey2_s4);

        @include media(tablet) {
          color: get-color(white_s1);
          align-items: flex-end;
          display: inline-block;
          flex-direction: row;
        }

        span {
          color: get-color(blue_p1);

          @include media(tablet) {
            color: get-color(white_s1);
          }
        }
      }
      p {
        color: get-color(grey2_s4);
      }
      @include media(tablet) {
        align-items: flex-end;
      }
    }

    .outstanding-image {
      @include media(tablet) {
        position: absolute;
        width: 100%;
        height: 25rem;
        width: 25rem;
        z-index: 1;
        left: 0;
        bottom: 0;

        background: url("../../../public/img/home-2.png") no-repeat;
        background-size: contain;
      }

      @include media(desktop) {
        height: 27rem;
      }
      @include media(extradesktop) {
        height: 22rem;
        width: 25rem;
      }
    }
  }

  &_empresa {
    @include center-container;

    justify-content: flex-start;

    @include media(tablet) {
      justify-content: flex-end;
    }
  }

  &_filter-types {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    @include scrollTeme;
  }

  &_box-filterSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 0.5em 0rem;
    gap: 1em;

    @include media(tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    @include media(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .filterButtons {
      @include center-container;
      width: 100%;
      padding-bottom: 1rem;

      flex-direction: row;
      justify-content: flex-start;

      overflow-x: scroll;
      @include scrollTeme;

      @include media(tablet) {
        max-width: none;
        padding: none;
        padding: 0rem 0.5rem;
        justify-content: flex-end;
      }
    }

    //select material ui

    .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1yhyf2r-MuiAutocomplete-root .MuiOutlinedInput-root {
      width: 95%;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    width: auto;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
      grid-gap: 2rem;

      @include media(tablet) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
      }

      @include media(desktop) {
        justify-content: space-evenly;
      }

      @include media(extradesktop) {
        justify-content: flex-start;
      }
    }
  }
}

.card {
  display: flex;
  background: get-color(white_s1);
  flex-direction: column;
  min-width: 17rem;
  height: 20rem;
  padding: 1em;
  border-radius: brd(2);
  gap: 1rem;
  position: relative;

  @include media(tablet) {
    width: 18rem;
    gap: 0.5em;
    padding: 1em 1.5em;
  }

  @include media(desktop) {
    width: 18rem;
  }

  @include media(extradesktop) {
    width: 18rem;
    gap: 1rem;
  }

  &_type {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    justify-content: flex-start;
    border-radius: brd(2);

    @include media(tablet) {
      width: 75%;
    }
  }

  &_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.25rem;

    @include media(tablet) {
      height: 5.5rem;
    }

    h4 {
      color: get-color(t1-blue);
      font-size: 1.2rem;

      &:focus {
        background-color: get-color(bg-cles);
      }
    }
    .dayLetf {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: get-color(grey2_s4);
      gap: 0.25rem;

      svg {
        color: get-color(grey2_s4);
        font-size: 1rem;
        display: inline-block;
        path {
          fill: get-color(grey2_s4);
        }
      }

      span {
        color: get-color(black_p2);
        justify-content: center;
        border-radius: brd(1);
        display: inline-block;
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }

  .admin {
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 0%;

    @include center-container;
    padding: 0.5rem;
    transform: rotate(-90deg);

    svg {
      width: 2rem;
    }
  }

  &_actions {
    height: 7.5rem;
    padding: 0.5rem;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: brd(2);
    gap: 1rem;
    @include center-container;

    .status-box {
      display: flex;
      justify-content: flex-start;

      align-items: center;
      flex-direction: column;
      gap: 1rem;

      color: get-color(white_s1);

      a {
        color: get-color(white_s1);
        @include center-container;
        text-align: center;
        font-weight: 500;
        padding: 0.25rem;
      }

      .btn_primary {
        background-color: transparent;
        border-style: none;
        border: 1.5px solid get-color(white_s1);
        box-shadow: none;
        padding: 0.5rem;
        margin-top: 0;
        min-width: 6rem;
      }
    }

    .box-img {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .type_icon {
      width: 100%;
      @include center-container;
      border-radius: brd(2);

      padding: 0.5rem;
      justify-content: center;

      svg {
        justify-content: center;
        width: 4rem;
        height: 4rem;

        path {
          fill: get-color(white_s1);
        }
      }
    }
  }
}

.limited-paragraph {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-reporting {
  div {
    display: flex;
    align-items: center;

    &:first-child {
      span {
        color: get-color(t6-green2);
        background-image: radial-gradient(circle at -20.44% 43.84%, #bbeebb 0, #b3efc1 12.5%, #abf1c7 25%, #a4f1ce 37.5%, #9df2d5 50%, #96f2dc 62.5%, #91f3e3 75%, #8cf3ea 87.5%, #88f3f1 100%);
        color: get-color(black_p2);
        border-radius: brd(2);
        padding: 0.8em 1em;
      }
    }

    &:nth-child(3) {
      span {
        color: get-color(grey1_s3);
      }
    }

    &:nth-child(4) {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
    }
  }
}

.navigation-box {
  display: flex;
  flex-direction: column;

  .header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    .languajes-box {
      display: none;
      @include media(tablet) {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.5rem;
      }
      svg {
        path {
          fill: get-color(grey2_s4);
        }
      }
    }

    .titlePage {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.navegation {
  color: get-color(grey2_s4);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
  flex-wrap: nowrap;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
  @include media(tablet) {
  flex-wrap: wrap;
  }

  &_title {
    color: get-color(t1-blue);
  }

  button {
    border-style: none;
    background-color: transparent;
  }

  svg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    path {
      fill: get-color(grey2_s4);
    }
  }

  a,
  p,
  span,
  button {
    color: get-color(grey2_s4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-size: 0.875rem;
    color: inherit;
    text-align: center;
    line-height: 24px;
    cursor: pointer;

    &:hover,
    & :focus {
      color: get-color(blue_p1);
    }
    .box-languajes {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
    }
  }
}

.box-empresa {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;

  .icon_arrow {
    // background-color: #8cf3ea;
    position: absolute;
    right: 5%;
    top: 35%;
  }

  .css-17l143u-MuiAutocomplete-root {
    min-width: 16rem;
    @include media(tablet) {
      min-width: 22rem;
    }
  }

  .css-1yhyf2r-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    color: get-color(white_s1);
    padding-top: 1rem;
    color: get-color(t1-blue);
  }

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
  .css-1ald77x {
    color: get-color(grey2_s4);
    // background-color: rgba(get-color(white_s1), 0.1);
    border-radius: brd(2);
    margin-left: 0.2rem;

    font-size: 1.2rem;
    background-color: get-colro(white_s1);
    transform: translate(10px, -22px) scale(0.76);
  }

  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-17l143u-MuiAutocomplete-root .MuiOutlinedInput-root,
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-154wcn3 .MuiOutlinedInput-root {
    // background-image: radial-gradient(circle at -20.44% 43.84%, #bbeebb 0, #b3efc1 12.5%, #abf1c7 25%, #a4f1ce 37.5%, #9df2d5 50%, #96f2dc 62.5%, #91f3e3 75%, #8cf3ea 87.5%, #88f3f1 100%);
    //cpodigo

    color: get-color(t1-blue);
    font-weight: 500;
    border-radius: brd(2);
    padding: 0.35rem 0.5rem;
    background-color: get-color(white_s1);
    border: 1px solid rgba(get-color(blue_p1), 0.3);
    max-width: 22.5rem;
    @include media(tablet) {
      max-width: 25rem;
    }
  }

  .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator,
  .css-uge3vf {
    margin: -1rem 0rem -1rem 0rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      background-image: url("../../../public/icons/arrow.svg");
      background-size: contain; /* Ajusta el tama침o del fondo para cubrir el contenedor */
      display: inline-block;

      path {
        fill: transparent;
        border-radius: brd(3);
      }
    }
  }
}

.sub-title {
  // padding: 1rem 0rem;

  h3 {
    padding-top: 1rem;
    justify-content: flex-start;
  }
}

.financy {
  @include cardStyleType(blue_p1);
}

.tecnology {
  @include cardStyleType(t2-ligthBlue);
}

.human {
  @include cardStyleType(t5-green);
}

.slider {
  // Permite posicionar los elementos del slider
  @include media(mobile) {
    overflow: hidden; // Oculta los elementos que se desbordan del contenedor
  position: relative;

  }

  .slides-container,
  .report-content {
 
    @include media(mobile) {
      display: flex; // Contenedor flexible para los slides
    flex-direction: row;
    background-color: transparent;
    flex-wrap: nowrap;
    box-shadow: none;
    background-color: transparent;
    animation: slideAnimation 15s linear infinite;

    }
  }

  .slide,
  .report {
   

    @include media(mobile) {
      flex: 0 0 100%; 
    width: 5rem;
    background-color: rgba(get-color(bg-cles), 0.5);
    border-radius: brd(2);
    border: 1px solid rgba(get-color(bg-cles), 0.5);
    justify-content: flex-start;
     
    }


  }

 
}

@keyframes slideAnimation {
  0% {
    transform: translateX(90%); // Inicio de la animaci칩n: sin desplazamiento
  }
  33.33% {
    transform: translateX(-100%); // Desplazamiento hacia la izquierda
  }
  66.66% {
    transform: translateX(-200%); // Desplazamiento hacia la izquierda
  }
  100% {
    transform: translateX(100%); // Final de la animaci칩n: sin desplazamiento
  }
}
