.reporting{
    .description{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 0rem !important;
        
        .maybe {
            padding: 0rem;
            color:get-color(grey2_s4);
        }
       
    }

    &-list{
        display: flex;
        justify-content:flex-start !important;
       
    }
 
    
}


   
.layoutReporting {
    &-company{
        padding: 1rem 0rem;
        
          p{
              color:get-color(grey2_s4);
              display: flex;
              justify-content: flex-start;
              align-items:last baseline;
         
          }
          span{
              font-weight: 600;
          }
      }
}



.balance{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
   
    .spanReporting{
        font-size: 0.8rem;
        text-rendering: geometricPrecision;
    }
    

 
 }

    .container-filters{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

    
  
    

.searchReporting{
    height: 3rem;
    color:get-color(black_p2)
}


.movement-table{
   
        width: 100%;
        @include media(tablet) {
            width: 90% ;
          }
}







.box-clear{
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    justify-content:center;
}




.rowTable { 
    tr{
       
        &:hover,:focus {
            background-color: get-color(bg-cles) !important;
        }
    }

    .cuenta{

        width: 8rem !important;
    
          }
        
           .importe{
       
        text-align: right !important;
           }

           
   

}