.reporting {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-head {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-direction: column;

    @include media(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch !important;
    }
  }

  &-menu {
    @include container;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include media(tablet) {
      flex: 2;
    }

    .menu-list {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: stretch;

      border-style: none;

      .box-option {
        background-color: transparent;
        border-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: none;
        align-items: stretch;
        padding: 0rem;

        .report {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          justify-content: flex-start;
          align-items: center;
          border-radius: brd(2);
          width: 7rem;
          height: 8rem;

          h4 {
            display: flex;
            width: 100%;
            color: get-color(white_s1);
            font-weight: 500;
            justify-content: center;
            gap: 0.25rem;

            text-align: center;
          }
        }
      }
    }
  }

  .reporting_dashboard {
    @include media(tablet) {
      width: 100%;
      flex: 1;
    }

    .report-content {
      @include media(tablet) {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: max-content;
      }
    }

    .liner {
      display: none;
    }

    .report_icon {
      svg {
        width: auto;
        height: 4rem;
        padding: 1rem;
      }
    }
  }

  &_rates {
    display: flex;
    width: 100%;
    justify-content: last baseline;
    align-items: flex-start;
    gap: 1rem;

    @include media(tablet) {
      gap: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-exchange {
      background-color: get-color(white_s1);
      flex: 1;
      padding: 1rem 2rem;
      border-radius: brd(2);
      box-shadow: bsh(3);
      width: 100%;

      @include media(tablet) {
        flex: 3;
      }

      .rates-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 1rem;

        width: 100%;

        p {
          color: get-color(grey2_s4);
        }

        .country-svg {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          gap: 1rem;
          color: get-color(t1-blue);
          padding-bottom: 0.5rem;

          span {
            display: flex;
            align-items: center;
            gap: 0.25rem;
          }

          svg {
            path {
              fill: get-color(blue_p1);
            }
          }
        }
      }

      .grafics {
          overflow-x: auto;
        @include scrollTeme;
        scrollbar-width: auto;
        // max-width: 18rem;

        @include media(tablet) {
          width: 100%;
        }

        canvas {
          object-fit: contain;
          min-width:  10rem !important;
          min-height: 10rem;
      
          @include media(tablet) {
            min-height: 350px;
            width: 100% !important;
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &-list {
    display: flex;
    justify-content: flex-start !important;
  }

  .description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .maybe {
      padding: 0rem;
      color: get-color(grey2_s4);
    }
  }
}

.layoutReporting {
  &-company {
    padding: 1rem 0rem;

    p {
      color: get-color(grey2_s4);
      display: inline-block;
      justify-content: flex-start;
      gap: 0.25rem;
      align-items: center;
    }
    span {
      font-weight: 600;
      display: inline-block;
      align-items: center;
    }
  }

  .tab-content .tabOne {
    align-items: flex-start;
    transition: width 0.5s;
  }
}

.balance {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;

  .spanReporting {
    font-size: 0.8rem;
    text-rendering: geometricPrecision;
  }
}

.container-filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include container;
}

.searchReporting {
  height: 3rem;
  color: get-color(black_p2);
}

.movement-table {
  width: 100%;
  @include media(tablet) {
    width: 100%;
  }
}

.box-clear {
  display: flex;
  flex-wrap: wrap;

  @include media(tablet) {
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.rowTable {
  tr {
    &:hover,
    :focus {
      background-color: get-color(bg-cles) !important;
    }
  }

  .cuenta {
    width: 8rem !important;
  }

  .importe {
    text-align: right !important;
  }
}

.graphic {
  max-width: 100%;
  padding: 1rem;
}

.container-search {
  background-color: get-color(bg-cles);
  border-radius: brd(1);
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  ::placeholder {
    color: get-color(forms_s6);
  }

  button {
    height: auto;
    border-radius: brd(3);
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.orderTable {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f0f0f0;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  .draggable {
    cursor: move;
  }
}

.captcha {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .reporting-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    .box-filter .css-1869usk-MuiFormControl-root{
    

      @include media(mobile) {
        width: 100%;
      }


    }

    .report-content {
      animation: unset;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      gap: 1rem;

      .report {
        padding: 0rem;
        border: none;
      }

      .report_icon {
        width: auto;
        height: auto;
        padding: 0.8rem;

        @include media(tablet) {
          padding: 1.2rem;
        }

        svg {
          width: auto;
          height: auto;
          @include media(tablet) {
            width: 1.2rem;
          }
        }
      }
    }
  }

  &-summary {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    height: max-content;
    flex-wrap: wrap;

    @include media(tablet) {
      // flex-direction: column;
    }
    .reporting-box {
      flex: 1;
      @include media(tablet) {
        flex: 0.7;
      }
    }

    .report-months {
      width: 100%;

      @include media(tablet) {
        flex: 1;
      }
    }
  }

  &-filters {
    @include container;
    flex-direction: column;
  }

  .box-filters {
    @include center-container;
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;

    .btn_filter {
      border-radius: brd(2);
      border: 1px solid get-color(grey1_s3);
      width: 12rem;
      display: flex;
      flex-direction: row;
      @include media(tablet) {
        width: auto;
      }
    }

    .active {
      background-color: get-color(blue_p1);
      color: get-color(white_s1);

      path {
        fill: get-color(white_s1);
        stroke: get-color(white_s1);
      }
    }
  }

  .box-tabs {
    .reporting-box,
    .report-content {
      background-color: transparent;
      box-shadow: none;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .grafics {
    @include container;
    flex-direction: column;

    .rates-description {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      padding-bottom: 1rem;
      .dates {
        display: flex;
        padding-top: 0.5rem;
        justify-content: flex-start;
        gap: 0.25rem;
      }
    }

    .rates-title {
      display: flex;
    }
  }
}
