.contract {
  .content-filter {
    width: 100%;
    box-sizing: border-box;
  }

  .contaniner-tables {
    .box-filter {
      .css-1869usk-MuiFormControl-root {
        width: auto !important;

        @include media(desktop) {
          width: 16.5rem;
        }
      }
    }
  }

 
  

  .contract-form {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include media(tablet) {
        flex-direction: row;
        gap: 2rem;
      }

      .content {
        padding: 0.5rem 0rem;

        .subtitle {
          margin-bottom: 0.5rem;
        }
      }
    }

    .content-filter {
      @include media(tablet) {
        flex: 1;
      }
    }

    .content-skills {
      @include media(tablet) {
        flex: 1.25;
      }
    }

    .box-filter {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      align-items: flex-start;
      gap: 0rem;

      .group {
        display: flex;
        padding: 0rem;
        gap: 1rem;
        align-items: center;
        flex-direction: column;

        @include media(tablet) {
          flex-direction: row;
        }
      }

      .css-pf9p51 {
        display: flex;

        flex-direction: column;

        @include media(tablet) {
          flex-direction: row;
        }
      }

      .input-box {
        padding-top: 0rem;
      }
    }

    .date {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;

      @include media(tablet) {
        flex-direction: row;
      }
    }

    .date .css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
    .date .css-i44wyl {
      width: auto !important;

      @include media(tablet) {
        flex: 1;
      }
    }

    .skills {
      padding: 1rem 0rem;

      &-header {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap: 1rem;
        width: 100%;
        align-self: flex-start;
        label{
          width: 50%;
          text-align: left;
          display: flex;
          align-items: flex-start;
          

        }

        .date-range{
          color: rgba(get-color(grey2_s4),0.6);
          font-size: smaller;
        }
      }

      &-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

.btn-state {
  background-color: aquamarine;
}

.state-check {
  color: get-color(t5-green) !important;
}
