// *** Configuración Inicial ***

// - Opciones iniciales
$optionsInit: (
  fz-init: 16px,
  num-spaces: 8,
);
@function option($var) {
  @return map-get($optionsInit, $var);
}

// - Atajos Propiedades CSS
$shortsProps: (
  color: color,
  bgc: background-color,
);
