// *** Configuración Inicial ***

// - Opciones iniciales
$optionsInit: (
  fz-init: 16px,
  num-spaces: 10,
);
@function option($var) {
  @return map-get($optionsInit, $var);
}

// - Atajos Propiedades CSS
$shortsProps: (
  color: color,
  bgc: background-color,
);

// // - Breakoints Media Queries
// $breakpoints: (
//     mobile   : 500px,
//     tablet   : 800px,
//     laptop   : 1024px,
//     desktop  : 1440px,
//     hd       : 1920px,
// );
