// *** Variables para generar clases de utilidad ***

// - Alineación de texto
.ta--center {
  text-align: center;
}

.ta--left {
  text-align: left;
}

.ta--right {
  text-align: right;
}

// - Transformación de texto
.tt--upper {
  text-transform: uppercase;
}

.tt--lower {
  text-transform: lowercase;
}

// - Alineación Flex Eje Primario
.jc--start {
  justify-content: flex-start;
}

.jc--end {
  justify-content: flex-end;
}

.jc--center {
  justify-content: center;
}

.jc--between {
  justify-content: space-between;
}

// - Alineación Flex Eje Secundario
.ai--start {
  align-items: flex-start;
}

.ai--end {
  align-items: flex-end;
}

.ai--center {
  align-items: center;
}

// - Posicionamiento de caja
.pos--relative {
  position: relative;
}

.flex {
  display: flex;

  &.__mr {
    > * {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  // gap: 1em;

  width: 100%;

  .contentError {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    h2 {
      color: get-color(lilac_p3);
    }
    p {
      color: get-color(black_p2) !important;
    }
  }

  // .btn_primary{
  //   margin-top: 1rem;
  // }
}

.input-box {
  display: flex;
  flex-direction: column;
  color: get-color(black_p2);
  position: relative;
  justify-content: baseline;
  flex: 1;

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='tel'],
  textarea {
    padding: 0.5rem 0.5rem;
    margin: 1em 0;
    border: 1px solid get-color(forms_s6);
    border-radius: brd(1);
    height: 3em;
    color: get-color(t1-blue);
    line-height: none;
    width: 100%;

    @include media(tablet) {
      padding: 1rem 1rem;
    }
    font-family: Arial, Helvetica, sans-serif;

    &:hover,
    &:active {
      border: 2px solid get-color(lilac_p3);
    }
  }

  input[type='checkbox'] {
    background-color: aqua;
  }

  textarea {
    height: 4em;
  }

  label:not(.checkbox) {
    font-weight: fw(medium);
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 1.2em;
    left: 1em;
    color: rgba(get-color(grey2_s4), 0.5);
    transform: translateY(10px);

    transition: transform 0.5s, color 0.3s;

    max-width: 12rem; /* Cambia el valor según el ancho máximo deseado */
    margin: 0 auto; /* Esto centra el texto horizontalmente, opcional */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se extiende más allá del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se trunca */

    @include media(tablet) {
      white-space: wrap;
      max-width: 25rem;
    }
  }

  input:focus + label,
  textarea:focus + label,
  textarea:not(:placeholder-shown) + label,
  input:not(:placeholder-shown) + label {
    display: inline-block;
    transform: translateY(-30px) scale(0.9);
    transform-origin: left top;
    /* medio*/
    top: 2.5rem; //0
    left: 1rem; //0
    color: get-color(grey2_s4);
    background-color: get-color(white_s1);
    border-radius: 5px;
    padding: 0rem 0.25rem;
    font-size: small;
  }

  .iconPassword {
    position: relative;
    svg {
      position: absolute;
      right: 1rem;
      margin-top: 2rem;
      path {
        fill: get-color(lilac_p3);
      }
    }
  }

  span:nth-child(3) {
    color: get-color(blue_p1);
    font-size: 14px;
  }
}

.bank-box,
.country-box {
  label {
    color: get-color(grey2_s4);
    font-size: smaller;
    background-color: get-color(white_s1);
    padding-left: 1.1rem;
    font-size: small;
    // font-weight: 500
  }

  .css-1dimb5e-singleValue {
    color: get-color(t1-blue);
    padding-left: 0.5rem;
  }

  .css-13cymwt-control {
    border-radius: brd(1);
    height: 2.8em;
  }

  .css-1jqq78o-placeholder {
    color: rgba(get-color(grey2_s4), 0.5);
    font-family: 'DM Sans', sans-serif;
    padding-left: 0.5rem;
  }
}

//box filter
.box-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;

  // .css-i44wyl {
  //   margin-top: 0.2rem;
  // }

  .css-b1884d {
    margin: 0rem;
  }

  .css-fvipm8 {
    width: auto;
  }

  label {
    top: 0px;
    left: -4px;
    background: get-color(white_s1);
    color: get-color(grey2_s4);
    padding: 0.4rem 0.2rem 0 0.2rem;
  }

  .css-p0rm37 {
    transform: translate(14px, 10px) scale(1);
  }
  .css-1869usk-MuiFormControl-root {
    margin: 0px;
    width: 16.5rem;

    @include media(tablet) {
      width: auto;
    }

    label {
      top: 0px;
      left: -4px;
      padding: 0rem 0.5rem 0 0.5rem;
      color: get-color(grey2_s4);
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: brd(2);
  }

  .css-1pduc5x-MuiStack-root {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    label {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
      color: get-color(blue_p1);
    }

    @include media(tablet) {
      flex-direction: row;
    }
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1pduc5x-MuiStack-root > .MuiTextField-root {
    min-width: 0px;
    margin-top: 1.5px;
    width: 16.5rem;

    @include media(tablet) {
      max-width: 150px;
    }
  }

  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    // padding: 15.5px 9px;
    color: get-color(t1-blue);
  }
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
  .css-fvipm8 {
    padding-right: 0.5rem;
    border-radius: brd(1); //border radio
    width: 12rem;
    @include media(tablet) {
      width: auto;
    }

    svg {
      width: 1.5rem;
      // height: 1.5rem;
      height: auto;
      padding-top: 0.5rem;
    }

    // width: 12rem !important;

    // @include media(tablet) {
    //   width: auto;
    // }
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
  .css-qiwgdb {
    color: get-color(t1-blue);
    padding: 16px 0px 12px 12px;
    display: flex;
    align-items: center;
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
  .css-qiwgdb.css-qiwgdb.css-qiwgdb {
    padding-right: 0.5rem;

    white-space: wrap;

    @include media(desktop) {
      white-space: wrap;
    }
  }
}

.errorMessage {
  color: get-color(t3-red) !important;
  //  background-color: rbga(get-color(t3-red), 0.1);
  //  padding: 1rem 0rem;
  font-size: small;
}

.requestError {
  color: get-color(t3-red);
  background-color: rgba(get-color(t3-red), 0.1) !important;
  // padding: 0.5rem 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  border-radius: brd(2);
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.date {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: row;
  margin-top: 0.2rem;
  flex-wrap: wrap;
  width: 100%;

  @include media(tablet) {
    width: auto;
  }

  label {
    padding: 0.2rem 0.25rem 0 0.25rem;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
  .css-i44wyl {
    width: 12rem;

    @include media(tablet) {
      width: 9rem;
    }
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1v4ccyo {
    height: 3rem;
    color: get-color(t1-blue);
    border-radius: brd(1);
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1bn53lx,
  .css-1v4ccyo {
    border-radius: brd(1);
    margin-top: 0rem;
    color: get-color(t1-blue);
    height: 3rem;
  }
}

// BEM
// bloque:     container-emails  o por ejemplo " card-image" "carrusel"
// elemneto si es que tiene  ejemplo div  :  contanier-emails__title
// si tengo tipos de titulos(ejemplo  un titulo grande)  contanier-emails__title--big

//atomos dising

.box-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  // background-color: get-color(white_s1);
}

.contaniner-tables {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include container;

  .boards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .tableContainer {
    overflow-x: auto;
    scroll-behavior: auto; /* Agregando scroll-behavior */
    @include scrollTeme;

    max-width: 12rem;
    max-width: 100%;

    @include media(tablet) {
      max-width: 100%;
    }

    /* Inmovilizar solo la columna 1 */

    th:nth-child(1) {
      background-color: get-color(white_s1);
      border-bottom: 2px solid get-color(blue_p1);
      // border-right: 0.5px solid get-color(lilac_p3);
    }

    th:nth-child(1),
    td:nth-child(1) {
      position: sticky;
      background-color: rgb(get-color(white_s1), 0.94);
      z-index: 2;
      left: -1rem;
      right: 0;
      padding-left: 1rem;
    }

    th:nth-child(1) {
      // background-color: get-color(white_s1);
      // border-bottom: 2px solid get-color(black_p2);
    }
  }

  .dataTable {
    width: 100%;
    border-collapse: collapse;
    background-color: get-color(white_s1);

    thead {
      background-color: transparent;
      border-style: none;
      border-spacing: 8px;
      cursor: pointer;
      overflow-x: auto;

      tr {
        border-style: none;
        // background-color: get-color(bg-cles);
        border-bottom: 2px solid get-color(pink_s5);
        position: sticky;
        top: 0;
        z-index: 2;
      }

      th {
        padding: 1rem;
        color: get-color(t1-blue);
        text-align: start;
        // white-space: nowrap;
        width: max-content;
        border: 1px solid get-color(pink_s5);

        button {
          display: inline-block;
          margin-left: 0.5rem;
        }
      }

      .th-search {
        min-width: 18rem;
      }
    }

    tbody {
      overflow-y: auto;
    }

    th,
    td {
      border: 0.5px solid get-color(pink_s5);
      padding: 0.5rem;
      width: auto;
    }
    th {
      // background-color: #f2f2f2;
      border-style: none;
    }

    td {
      text-align: start;
      // border-style: none;
      color: get-color(grey2_s4);
      // white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    }

    .active {
      background-color: get-color(pink_s5);
    }
  }

  .box-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-bottom: none !important  ;
    height: fit-content;

    @include media(desktop) {
      border: 0.5px solid get-color(pink_s5) !important;
    }

    svg{
      path{
        fill:rgba(get-color(grey2_s4), 1)
      }
    }


    // background-color: aqua;
  }
}

.datefilter {
  color: get-color(blue_p1);
  font-size: smaller;
  font-style: italic;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: get-color(pink_s5);
    color: get-color(black_p2);
    font-size: larger;
  }
}

.Account {
  tr {
    &:hover {
      background-color: get-color(bg-cles);
    }
  }

  th,
  td {
    white-space: nowrap;
  }

  tbody {
    tr {
      cursor: auto;
    }
  }
}

.delimite-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11rem;
  padding-right: 28px;
}
