// *** Variables para generar clases de utilidad ***

// - Alineación de texto
.ta--center {
  text-align: center;
}

.ta--left {
  text-align: left;
}

.ta--right {
  text-align: right;
}

// - Transformación de texto
.tt--upper {
  text-transform: uppercase;
}

.tt--lower {
  text-transform: lowercase;
}

// - Alineación Flex Eje Primario
.jc--start {
  justify-content: flex-start;
}

.jc--end {
  justify-content: flex-end;
}

.jc--center {
  justify-content: center;
}

.jc--between {
  justify-content: space-between;
}

// - Alineación Flex Eje Secundario
.ai--start {
  align-items: flex-start;
}

.ai--end {
  align-items: flex-end;
}

.ai--center {
  align-items: center;
}

// - Posicionamiento de caja
.pos--relative {
  position: relative;
}

.flex {
  display: flex;

  &.__mr {
    > * {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  // gap: 1em;

  width: 100%;

  .contentError {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    h2 {
      color: get-color(lilac_p3);
    }
    p {
      color: get-color(black_p2) !important;
    }
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  color: get-color(black_p2);
  position: relative;
  justify-content: baseline;
  flex: 1;

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  textarea {
    padding: 0.5rem 0.5rem;
    margin: 1em 0;
    border: 1px solid get-color(forms_s6);
    border-radius: brd(1);
    height: 3em;
    color: get-color(t1-blue);
    line-height: none;
    width: 100%;

    @include media(tablet) {
      padding: 1rem 1rem;
    }
    font-family: Arial, Helvetica, sans-serif;

    &:hover,
    &:active {
      border: 2px solid get-color(lilac_p3);
    }
  }

  input[type="checkbox"] {
    background-color: aqua;
  }

  textarea {
    height: 4em;
  }

  label:not(.checkbox) {
    font-weight: fw(medium);
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 1.2em;
    left: 1em;
    color: get-color(grey2_s4);
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
  }

  input:focus + label,
  textarea:focus + label,
  textarea:not(:placeholder-shown) + label,
  input:not(:placeholder-shown) + label {
    display: inline-block;
    transform: translateY(-30px) scale(0.9);
    transform-origin: left top;
    /* medio*/
    top: 2.5rem; //0
    left: 1rem; //0
    color: get-color(grey2_s4);
    background-color: get-color(white_s1);
    border-radius: 5px;
    padding: 0rem 0.25rem;
    font-size: small;
  }

  .iconPassword {
    position: relative;
    svg {
      position: absolute;
      right: 1rem;
      margin-top: 2rem;
      path {
        fill: get-color(lilac_p3);
      }
    }
  }

  span:nth-child(3) {
    color: get-color(blue_p1);
    font-size: 14px;
  }
}

.box-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: last baseline;
  align-items: flex-start;
  gap: 1rem;

  .css-i44wyl {
    margin-top: 0.2rem;
  }

  .css-b1884d {
    margin: 0rem;
  }

  label {
    top: 0px;
    left: -4px;
    background: get-color(white_s1);
    color: get-color(grey2_s4);
    padding: 0.20rem 0.5rem 0 0.5rem;
  }
  .css-1869usk-MuiFormControl-root {
    margin: 0px;

    label {
      top: 0px;
      left: -4px;

      padding: 0rem 0.5rem 0 0.5rem;
      color: get-color(grey2_s4);
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: brd(2);
  }

  .css-1pduc5x-MuiStack-root {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    label {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
      color: get-color(blue_p1);
    }

    @include media(tablet) {
      flex-direction: row;
    }
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1pduc5x-MuiStack-root > .MuiTextField-root {
    max-width: 150px;
    min-width: 0px;
    margin-top: 1.5px;
  }

  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 15.5px 9px;
    color: get-color(t1-blue);
  }
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    padding-right: 0.5rem;
    border-radius: brd(2);
    svg{
      width: 1.5rem;
      height: auto;
      padding-top: 0.5rem;
  
   
    }
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: get-color(t1-blue);

    

  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    color: get-color(t1-blue);
    padding-right: 1rem;
    padding: 20px 10.5px 12px 12px;

    display: flex;

    align-items: center;
   
  }
}

.errorMessage {
  color: get-color(t3-red) !important;

  font-size: small;
}

.date {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: row;
  align-items: self-end;

  margin-top: 0.2rem;

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 9rem;
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 3.3rem;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: brd(2);
    margin-top: 0rem;
    height: 3.3rem;
  }
}

// BEM
// bloque:     container-emails  o por ejemplo " card-image" "carrusel"
// elemneto si es que tiene  ejemplo div  :  contanier-emails__title
// si tengo tipos de titulos(ejemplo  un titulo grande)  contanier-emails__title--big

//atomos dising



.box-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  // background-color: get-color(white_s1);
}

.contaniner-tables {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 100%;
  @include container;

 

  .tableContainer {
    
   
    overflow-x: auto;
    scroll-behavior: auto; /* Agregando scroll-behavior */
    @include scrollTeme;

    /* Inmovilizar solo la columna 1 */

    th:nth-child(1) {
      background-color: get-color(white_s1);
      border-bottom: 2px solid get-color(blue_p1);
      // border-right: 0.5px solid get-color(lilac_p3);

    }




    th:nth-child(1),
    td:nth-child(1) {
      position: sticky;
      background-color: rgb(get-color(white_s1), 0.94);
      z-index: 2;
      left: -1rem;
      right: 0;
      padding-left: 1rem;
     

    }

    th:nth-child(1) {
      // background-color: get-color(white_s1);
      // border-bottom: 2px solid get-color(black_p2);
    }

   
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  background-color: get-color(white_s1);
  


  

  thead {
   
    background-color: transparent;
    border-style: none;
    border-spacing: 8px;
    cursor: pointer;
    overflow-x: auto;



    

    tr {
      border-style: none;
      // background-color: get-color(bg-cles);
      border-bottom: 2px solid get-color(pink_s5);
      position:sticky;
      top: 0; 
      z-index: 2;
      
    }

    
   

    th {
      padding: 1rem;
      color: get-color(t1-blue);
      text-align: start;
      // white-space: nowrap;
      width: max-content;
      border: 1px solid get-color(pink_s5);

      button {
        display: inline-block;
        margin-left: 0.5rem;
      }
    }

    .th-search{
      min-width: 18rem;

    }
  }

  tbody {

      overflow-y: auto;
    
  }

    th,
    td {
      border: 0.5px solid get-color(pink_s5);
      padding: 0.5rem;
      width: auto;
     
    }
    th {
      // background-color: #f2f2f2;
      border-style: none;
      
    }

    td {
      text-align: start;
      // border-style: none;
      color: get-color(grey2_s4);
      // white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    
     
    }

    .active {
      background-color: get-color(pink_s5);
    }
  }

  .box-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
  }
}

.datefilter {
  color: get-color(blue_p1);
  font-size: smaller;
  font-style: italic;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: get-color(pink_s5);
    color: get-color(black_p2);
    font-size: larger;
  }
}

.Account {
  tr {
    &:hover {
      background-color: get-color(bg-cles);
    }
  }

  th,
  td {
    white-space: nowrap;
  }

  tbody {
    tr {
      cursor: auto;
    }
  }
}

.delimite-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11rem;
  padding-right: 28px;
}
