$colors: (
  blue_p1: #3c2cd1,
  black_p2: #242331,
  lilac_p3: #9a90ff,
  white_s1: #ffffff,
  bone_s2: #f9f9f9,
  grey1_s3: rgba(121, 121, 121, 0.5),
  grey2_s4: #797979,
  pink_s5: #efecff,
  forms_s6: #e5e5ea,

  //dashwoard
  t1-blue: #0d0088,
  t2-ligthBlue: #66b6ff,
  t3-red: #ff8d8d,
  t4-orange: #ffbe61,
  t5-green: #adff81
);

@function get-color($color-name) {
  @return map-get($colors, $color-name);
}

// - Fuentes de texto
$ffVar: (
  1: (
    'Raleway',
    sans-serif
  )
);
@function ff($var) {
  // Funcion que devuelve el color de la variable CSS
  @return var(--ff_#{$var});
}

// - Transiciones
$trsVar: (
  1: all 0.3s ease-in-out,
  2: all 0.6s ease-in-out,
  3: all 1s ease-in-out
);
@function trs($var) {
  @return map-get($trsVar, $var);
}

// - Grosor de texto
$fwVar: (
  // thin    : 100,
  // elight  : 200,
  // light   : 300,
  // slight  : 350,
  normal: 400,
  medium: 500,
  sbold: 600,
  bold: 700,
  // ebold   : 800,
  // black   : 900,
  // eblack  : 950,
);
@function fw($var) {
  @return map-get($fwVar, $var);
}

// - Borde
$bdVar: (
  thin: (
    0.0625rem solid transparent
  ),
  // 1px
  thin_dashed:
    (
      0.0625rem dashed transparent
    ),
  // 1px
  normal:
    (
      0.125rem solid transparent
    ),
  // 2px
  normal_dashed:
    (
      0.125rem dashed transparent
    ),
  // 2px
  fat:
    (
      0.25rem solid transparent
    ),
  // 4px
  fat_dashed:
    (
      0.25rem dashed transparent
    ),
  // 4px
);
@function bd($var) {
  @return map-get($bdVar, $var);
}

// - Radio de borde
$brdVar: (
  1: 0.3125rem,
  2: 0.725rem,
  f: 20rem
);
@function brd($var) {
  @return map-get($brdVar, $var);
}

// // - Box shadow
// $bshVar: (
//     1 : (0 0 .1875rem rgba(color(0_), .1)), // 0 0 3px
//     2 : (0 0 .3125rem rgba(color(0_), .1)), // 0 0 5px
//     3 : (0 .375rem 1.25rem rgba(color(0_), 0.15)), // 0 6px 20px
//     4 : (0 0 .625rem rgba(color(0_), 0.1)), // 0 0 10px
// );
// @function bsh($var){
//     @return map-get($bshVar, $var);
// }
